.collapsed > .when-open, .not-collapsed > .when-closed {
  display: none;
}
.detail-value {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .detail-value {
    justify-content: start;
  }
}
.info-wa {
  background-color: #BEE6FC!important;
  font-size: 12px!important;
  color: #08A0F7!important;
}
.bg-verygood {
  background-color: #BEFCDE;
  color: #34A770;
}
.bg-good {
  background-color: #34A770;
  color: #10673E;
}
.bg-normal {
  background-color: #FCEBBE;
  color: #FBA63C;
}
.bg-bad {
  background-color: #FCBEBE;
  color: #E31A1A;
}
.bg-verybad {
  background-color: #E31A1A;
  color: #FFEDED;
}