.wrapperContainer {
  display: flex;
  justify-content: center;
}
.brandLogo {
  width: 216px;
  height: 72px;
}
.columnWrapperCard {
  display: flex;
  justify-content: center;
}
.wrapperCard {
  margin: 32px 0px 0px;
  width: 580px;
  background: rgba(255, 255, 255, 0.6);
  /* Background Blur/Medium */
  backdrop-filter: blur(8px) !important;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
}
.wrapperBodyCard {
  padding: 40px;
}
.cardtext__title {
  margin: 0px !important;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #222222;
}
.cardtext__subtitle {
  margin: 8px 0px 32px !important;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #222222;
}
.labelText {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 150% !important;
  letter-spacing: 0.5px;
  color: #626262 !important;
}
.formInputEmail {
  height: 48px;
  border-radius: 12px;
}
.linkToLogin {
  text-decoration: underline;
  color: #F95031 !important;
}
.btnKirim {
  height: 56px;
  background: #F95031;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
}
.suksesKirimCard {
  margin: 32px 0px 0px;
  padding: 40px;
  width: 580px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  border-radius: 16px;

  &__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #222222;
  }
  &__img{
    width: 112px;
    height: 112px;
    margin: 0px auto 32px;
  }
}
.textResend {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.btnKembaliMasuk {
  height: 56px;
  border: 2px solid #F95031;
  border-radius: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #F95031;
  }
}

@media only screen and (max-width: 600px) {
  .wrapperCard {
    width: 90vw;
  }
  .wrapperBodyCard {
    padding: 16px;
  }
  .suksesKirimCard {
    width: 90vw;
    padding: 16px;
  }
  .suksesKirimCard__img {
    width: 90px;
    height: 90px;
  }
}