<div class="auth-wrapper auth-v1 px-2">
  <b-container class="wrapperContainer">
    <b-row class="m-0">
      <b-col cols="12">
        <b-link class="text-center">
          <b-link class="d-none d-lg-flex text-center justify-content-center">
            <b-img
              :src="appLogoImage"
              alt="logo"
              class="flat-image-dark text-center brandLogo"
            />
          </b-link>
        </b-link>
      </b-col>

      <b-col v-if="showResendEmailVerification" cols="12" class="columnWrapperCard">
        <b-card
          class="suksesKirimCard"
          :no-body="true"
        >
          <b-row class="justify-content-center">
            <b-col
              cols="12"
              class="text-center"
            >
              <b-img
                class="suksesKirimCard__img"
                src="@core/assets/image/iconsquare-popup-success.png"
              />
            </b-col>
    
            <b-col class="text-center">
              <span class="suksesKirimCard__text">Tautan untuk mengatur ulang password berhasil dikirim melalui email. Silahkan cek email Kamu.</span>
            </b-col>
            <b-col
              v-if="checkCountResend"
              cols="12"
              class="text-center mt-1 mb-2"
            >
              <span
                :style="resendTextStyle"
                @click="handleClickResend"
                class="textResend"
              >Kirim Ulang <span v-if="dismissSecs !==0">({{dismissSecs}})</span>
            </span>
            </b-col>
            <b-col
              cols="12"
              class="text-center"
              :style="{marginTop: checkCountResend ? 'unset' : '32px'}"
            >
              <b-button
                type="submit"
                class="btnKembaliMasuk"
                variant="outline-primary"
                block
                :to="{name:'auth-login'}"
              >
                <h5 class="btnKembaliMasuk__text">
                  Kembali Masuk
                </h5>
              </b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>

      <b-col v-else cols="12" class="columnWrapperCard">
        <b-card 
          body-class="wrapperBodyCard"
          class="text-white wrapperCard"
        >
          <b-card-title class="mb-1 text-center cardtext__title">
            Lupa Password
          </b-card-title>
          <b-card-text class="mb-2 text-center text-black cardtext__subtitle">
            Tautan untuk mengatur ulang password akan dikirim melalui email.
          </b-card-text>

          <!-- form -->
          <validation-observer
            ref="loginForm"
          >
            <b-form
              class="auth-login-form"
              @submit.prevent="submit"
            >
              <!-- email -->
              <b-form-group
                label="Email"
                label-for="login-email"
                label-class="labelText"
                class="labelTextFormGroup"
              >
                <validation-provider
                  #default="{ errors }"
                  label="Email"
                  vid="email"
                  rules="required|forgotpasswordEmail"
                  :custom-messages="custommessages"
                >
                  <b-form-input
                    id="login-email"
                    v-model="usernameEmail"
                    :state="errors.length > 0 ? false : null"
                    name="login-email"
                    type="email"
                    class="formInputEmail"
                    placeholder="john@mail.com"
                  />
                  <div>
                    <small
                      v-if="emailverifikasi"
                      class="text-danger"
                    >
                      {{ emailverifikasi }}
                    </small>
                    <small v-else class="text-danger">{{ errors[0] }}</small>
                  </div>
                </validation-provider>
              </b-form-group>
              <b-card-text class="text-center my-0 mb-2">
                <span class="text-black">Ayoo! kembali </span>
                <b-link
                  class="linkToLogin"
                  :to="{name:'auth-login'}"
                >
                  <span>&nbsp;Masuk</span>
                </b-link>
              </b-card-text>
              <!-- submit buttons -->
              <div class="inline-spacing">
                <b-spinner
                  v-if="loading"
                />
                <b-button
                  v-else
                  type="submit"
                  class="btnKirim"
                  variant="primary"
                  block
                >
                  <h5 class="btnKirim__text">
                    Kirim
                  </h5>
                </b-button>
              </div>
            </b-form>
          </validation-observer>
          <!-- </b-col> -->
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</div>
