//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// Color system
$primary: #ea5455;
// $primary: #ea5455;
$dark-danger: #3d2531;

// stylelint-disable value-keyword-case
$font-family-brand: 'Odin Bold' !important;
