<b-card>
    <div
        class="py-1 px-2"
        style="
            border: 1px solid #E2E2E2;
            border-radius: 16px;
        "
    >
        <b-row class="mb-1">
            <h3 class="text-black">
                <strong>
                    Buat Tiket
                </strong>
            </h3>
        </b-row>

        <b-form>
            <b-row>
        
            <b-col md="6">
                <b-form-group>
                    <template #label>
                        <span class="text-black">
                            <strong>
                                Nomor Resi
                            </strong>
                        </span>
                    </template>
                <v-select
                    v-model="noResi"
                    @search="cekResi"
                />
                </b-form-group>
            </b-col>

            <b-col md="6">
                <b-form-group>
                    <template #label>
                        <span class="text-black">
                            <strong>
                                Jenis Tiket
                            </strong>
                        </span>
                    </template>
                <v-select
                    placeholder="Alamat penerima / Nomor HP tidak lengkap"
                />
                </b-form-group>
            </b-col>

            <b-col md="6">
                <b-form-group>
                <template #label>
                    <span>
                        Customer
                    </span>
                </template>
                <b-form-input
                    placeholder="Mas Maung"
                />
                </b-form-group>

                <!-- Put File -->
                <label
                    for="formFile"
                    class="text-info btn btn-flat-info p-0"
                >
                    <div class="d-flex align-items-center">
                        <div>
                            <feather-icon
                                icon="FileIcon"
                                size="20"
                                class="mr-50 text-info"
                            />
                        </div>
                        Lampirkan File
                    </div>
                </label>
                <b-form-file
                    id="formFile"
                    placeholder="Choose a file or drop it here..."
                    drop-placeholder="Drop file here..."
                    multiple
                    class="d-none"
                />

                <!-- Preview File -->
                <b-row>
                    <label
                        class="text-info btn btn-flat-info p-0 ml-1"
                    >
                        <div class="d-flex align-items-center">
                            <div>
                                <feather-icon
                                    icon="FileIcon"
                                    size="20"
                                    class="mr-50 text-info"
                                />
                            </div>
                            Screenshoot-Wa-22042022.jpg
                        </div>
                    </label>
                    <feather-icon
                        icon="Trash2Icon"
                        size="20"
                        class="ml-50 text-black"
                    />
                </b-row>
            </b-col>

            <b-col md="6">
                <b-form-group>
                <template #label>
                    <span class="text-black">
                        <strong>
                            Deskripsi
                        </strong>
                    </span>
                </template>
                <b-form-textarea
                    placeholder="Nomor tidak bisa dihubungi"
                    rows="3"
                />
                </b-form-group>
            </b-col>

            <b-col
                md="12"
                class="mt-50"
            >
                <b-row class="justify-content-end mr-50">
                    <b-button
                        variant="outline-primary"
                        class="btn-icon mr-1"
                    >
                        Batalkan
                    </b-button>
                    <b-button
                        class="btn-icon"
                        variant="primary"
                        @click="submitTicket"
                    >
                        Buat Tiket
                    </b-button>
                </b-row>
            </b-col>
        
            </b-row>
        </b-form>
    </div>

    <b-row class="my-2">
        <h3 class="text-black ml-1">
            <strong>
                Tiket Pengiriman
            </strong>
        </h3>
    </b-row>

    <div
        class="py-1 px-2 mb-2"
        style="
            border: 1px solid #E2E2E2;
            border-radius: 16px;
        "
    >
        <b-row class="mx-50 my-2">
            <div
                class="d-flex justify-content-center align-items-center mr-2"
                style="
                    background: #FCD4BE;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
                    border-radius: 12px;
                    width: 240px;
                    height: 102px;
                "
            >
                <div
                    class="text-center"
                >
                    <p
                        class="mt-1"
                        style="
                            color: #AB2900;
                            font-weight: 500;
                            font-size: 16px;
                        "
                    >
                        Perlu Tindak Lanjut
                    </p>
                    <p
                        class="mt-1"
                        style="
                            color: #AB2900;
                            font-weight: 400;
                            font-size: 20px;
                        "
                    >
                        1
                    </p>
                </div>
            </div>

            <div
                class="d-flex justify-content-center align-items-center mr-2"
                style="
                    background: #FFEDED;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
                    border-radius: 12px;
                    width: 240px;
                    height: 102px;
                "
            >
                <div
                    class="text-center"
                >
                    <p
                        class="mt-1"
                        style="
                            color: #E31A1A;
                            font-weight: 500;
                            font-size: 16px;
                        "
                    >
                        Belum Diproses
                    </p>
                    <p
                        class="mt-1"
                        style="
                            color: #E31A1A;
                            font-weight: 400;
                            font-size: 20px;
                        "
                    >
                        2
                    </p>
                </div>
            </div>

            <div
                class="d-flex justify-content-center align-items-center"
                style="
                    background: #FCEBBE;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
                    border-radius: 12px;
                    width: 240px;
                    height: 102px;
                "
            >
                <div
                    class="text-center"
                >
                    <p
                        class="mt-1"
                        style="
                            color: #FBA63C;
                            font-weight: 500;
                            font-size: 16px;
                        "
                    >
                        Sedang Diproses
                    </p>
                    <p
                        class="mt-1"
                        style="
                            color: #FBA63C;
                            font-weight: 400;
                            font-size: 20px;
                        "
                    >
                        4
                    </p>
                </div>
            </div>
        </b-row>
    </div>

    <b-row class="justify-content-end mb-1">
        <b-col
            md="4"
            class="pr-0"
        >
          <b-input-group class="input-group-merge">
            <b-input-group-prepend is-text>
              <feather-icon icon="SearchIcon" />
            </b-input-group-prepend>
            <b-form-input placeholder="Search" />
          </b-input-group>
        </b-col>

        <b-col
            md="auto"
        >
            <b-button
                id="popoverStatus"
                v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                variant="flat-dark"
                style="border: 1px solid #C2C2C2;
                border-radius: 8px;"
            >
                <b-row class="align-items-center justify-content-between">
                    Status
                    <div class="ml-3">
                        <b-img src="@/assets/images/icons/arrow-filter.svg" />
                    </div>
                </b-row>
            </b-button>
            <b-popover
                target="popoverStatus"
                triggers="focus"
                placement="bottom"
            >
                <div class="p-50">
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary mb-1"
                    >
                        <span class="text-black">
                            Menunggu Tindak Lanjut
                        </span>
                    </b-form-checkbox>
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary mb-1"
                    >
                        <span class="text-black">
                            Belum Diproses
                        </span>
                    </b-form-checkbox>
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary mb-1"
                    >
                        <span class="text-black">
                            Sedang Diproses
                        </span>
                    </b-form-checkbox>
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary"
                    >
                        <span class="text-black">
                            Selesai
                        </span>
                    </b-form-checkbox>
                </div>
            </b-popover>
        </b-col>
    </b-row>

    <b-row class="justify-content-end mb-2">
        <b-col
            md="auto"
            class="pr-0"
        >
            <b-button
                id="popoverJenisTicket"
                v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                variant="flat-dark"
                style="border: 1px solid #C2C2C2;
                border-radius: 8px;"
            >
                <b-row class="align-items-center justify-content-between">
                    Jenis Tiket
                    <div class="ml-3">
                        <b-img src="@/assets/images/icons/arrow-filter.svg" />
                    </div>
                </b-row>
            </b-button>
            <b-popover
                target="popoverJenisTicket"
                triggers="focus"
                placement="bottom"
            >
                <div class="p-50">
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary mb-1"
                    >
                        <span class="text-black">
                            Alamat/Nomor HP Penerima Tidak Lengkap
                        </span>
                    </b-form-checkbox>
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary mb-1"
                    >
                        <span class="text-black">
                            Penerima Tidak Dikenal
                        </span>
                    </b-form-checkbox>
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary mb-1"
                    >
                        <span class="text-black">
                            Penerima Tidak Berada Ditempat
                        </span>
                    </b-form-checkbox>
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary mb-1"
                    >
                        <span class="text-black">
                            Penerima Menolak Paket
                        </span>
                    </b-form-checkbox>
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary"
                    >
                        <span class="text-black">
                            Permintaan Pengiriman Ulang
                        </span>
                    </b-form-checkbox>
                </div>
            </b-popover>
        </b-col>

        <b-col
            md="auto"
            class="pr-0"
        >
            <b-button
                id="popoverStatusTicket"
                v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                variant="flat-dark"
                style="border: 1px solid #C2C2C2;
                border-radius: 8px;"
            >
                <b-row class="align-items-center justify-content-between">
                    Status Tiket
                    <div class="ml-3">
                        <b-img src="@/assets/images/icons/arrow-filter.svg" />
                    </div>
                </b-row>
            </b-button>
            <b-popover
                target="popoverStatusTicket"
                triggers="focus"
                placement="bottom"
            >
                <div class="p-50">
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary mb-1"
                    >
                        <span class="text-black">
                            Menunggu Tindak Lanjut
                        </span>
                    </b-form-checkbox>
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary mb-1"
                    >
                        <span class="text-black">
                            Belum Diproses
                        </span>
                    </b-form-checkbox>
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary mb-1"
                    >
                        <span class="text-black">
                            Sedang Diproses
                        </span>
                    </b-form-checkbox>
                    <b-form-checkbox
                        v-model="selected"
                        class="custom-control-primary"
                    >
                        <span class="text-black">
                            Selesai
                        </span>
                    </b-form-checkbox>
                </div>
            </b-popover>
        </b-col>

        <b-col
            class="pr-0"
            md="2"
        >
            <date-range-picker
              ref="picker"
              v-model="dateRange"
              :locale-data="locale"
              :ranges="ranges"
              :opens="'left'"
              class="w-100"
              @input="handleChangeDatePicker"
            >
              <template
                v-slot:input="picker"
                style="min-width: 350px"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100"
                >
                    <div>
                        <span class="text-black">Waktu Dibuat</span>
                    </div>
                    <div>
                        <b-img src="@/assets/images/icons/arrow-filter.svg" />
                    </div>
                </div>
              </template>
            </date-range-picker>
        </b-col>

        <b-col
            md="2"
        >
            <date-range-picker
                ref="picker"
                v-model="dateRange"
                :locale-data="locale"
                :ranges="ranges"
                :opens="'left'"
                class="w-100"
                @input="handleChangeDatePicker"
            >
                <template
                    v-slot:input="picker"
                    style="min-width: 350px"
                >
                    <div
                        class="d-flex justify-content-between align-items-center w-100"
                    >
                        <span class="text-black">Waktu Diupdate</span>
                        <div>
                            <b-img src="@/assets/images/icons/arrow-filter.svg" />
                        </div>
                    </div>
                </template>
            </date-range-picker>
        </b-col>

        <div>
            <b-button
                variant="outline-primary"
                class="btn-icon mr-1"
            >
                Hapus Filter
            </b-button>
        </div>
    </b-row>

    <!-- Data table -->
    <b-overlay
        :show="loadingDataTable"
        spinner-variant="primary"
        variant="light"
        blur="0"
        opacity=".5"
        rounded="sm"
    >
        <b-row>
            <b-table
                :items="itemsTicket"
                :fields="fieldsTicket"
                show-empty
                empty-text="Tidak ada data yang ditampilkan."
                responsive
                selectable
                @row-selected="onRowSelected"
            >
                <template #cell(no_ticket)="dataNoTicket">
                    <span class="text-primary font-medium">
                        {{ dataNoTicket.value }}
                    </span>
                </template>
    
                <template #cell(nomor_resi)="dataNomorResi">
                    <span class="text-black font-medium">
                        {{ dataNomorResi.value }}
                    </span>
                </template>
    
                <template #cell(ekspedisi)="dataEkspedisi">
                    <span class="text-black font-medium">
                        {{ dataEkspedisi.value }}
                    </span>
                </template>
    
                <template #cell(customer)="dataCustomer">
                    <span class="text-black font-medium">
                        {{ dataCustomer.value }}
                    </span>
                </template>
    
                <template #cell(jenis_ticket)="dataJenisticket">
                    <span class="text-black font-medium">
                        {{ dataJenisticket.value }}
                    </span>
                </template>
    
                <template #cell(status_ticket)="dataStatusTicket">
                    <span class="text-primary font-medium">
                        {{ dataStatusTicket.value }}
                    </span>
                </template>
    
                <template #cell(waktu_dibuat)="dataWaktuDibuat">
                    <span class="text-black font-medium">
                        {{ dataWaktuDibuat.value }}
                    </span>
                </template>
    
                <template #cell(waktu_diupdate)="dataWaktuDiupdate">
                    <span class="text-black font-medium">
                        {{ dataWaktuDiupdate.value }}
                    </span>
                </template>
            </b-table>
        </b-row>
    </b-overlay>

    <!-- Popup success create ticket -->
    <b-modal
        ref="popup-success-create-ticket"
        variant="primary"
        centered
        hide-header
        hide-footer
    >
        <b-row class="justify-content-center mb-2 pt-2">
            <b-img src="@/assets/images/icons/success.svg" />
        </b-row>

        <b-row class="justify-content-center mb-2">
            <span class="text-black text-center">
                <strong>
                    Tiket kendala berhasil dibuat
                </strong>
            </span>
        </b-row>

        <b-row class="justify-content-center pb-2">
            <b-col md="4">
                <b-button
                        variant="primary"
                        block
                        @click="closeSuccessCreateTicket"
                    >
                        Oke
                    </b-button>
            </b-col>
        </b-row>
    </b-modal>
</b-card>