/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import '~@core/scss/base/bootstrap-extended/include';
@import '~@core/scss/base/components/include';

.header-navbar {
  &.fixed-top {
    left: 0;
  }

  .navbar-container {
    ul.navbar-nav {
      li {
        &.dropdown-user {
          .dropdown-menu {
            i,
            svg {
              margin-top: -2px;
            }
          }
        }
      }
    }
  }
}

.main-menu {
  .navbar-header {
    margin-bottom: 1rem;
  }
}

.navbar-container {
  .navbar-nav {
    .brand-logo {
      padding-left: 1rem;

      img {
        max-height: 36px;
        width: auto;
      }
    }

    .brand-text {
      margin-bottom: 0;
      font-weight: 600;
      letter-spacing: 0.01rem;
      animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
    }
  }
}

.brand-text {
  color: $headings-color !important;
  padding-left: .5rem !important;
  font-size: 1.45rem;
  font-family: $font-family-brand;
}

.dark-layout {
  .brand-text {
    color: $theme-dark-headings-color !important;
  }

  .vs--disabled {
    .vs__clear {
      background-color: transparent;
    }
  }
}

.vertical-layout {
  &.vertical-menu-modern {
    &.menu-collapsed {
      .navbar {
        &.fixed-top {
          left: 0 !important;
        }
      }
    }

    .main-menu {
      .navigation {
        > li > a svg,
        > li > a i {
          margin-top: -2px;
        }
      }
    }
  }
}


// For desktop only
@include media-breakpoint-up(lg) {
  .main-menu {
    top: #{$navbar-height};
  }
}

// Buy now
.btn {
  &.btn-floating {
    position: fixed !important;
    opacity: 0;
    animation: fadein 0.25s;
    animation-fill-mode: forwards;
    bottom: 5%;
    right: 32px;
    z-index: 1031;
  }

  &.btn-lg {
    bottom: calc(5% - 5px);
  }
}

.zoom-fade-leave-active,
.zoom-fade-enter-active {
  .btn {
    &.btn-floating {
      display: none !important;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.has-button-floating {
  margin-bottom: 100px;
}

.table-responsive {
  min-height: 160px;
}

.col-form-label-sm {
  padding-top: add(0.575rem, $input-border-width);
}

.btn .spinner-border {
  position: relative;
  top: 2px;
  margin-top: -2px;
  vertical-align: unset;
}

.col-action {
  width: 1%;
  white-space: nowrap;
}

.dark-layout {
  .flat-image {
    filter: brightness(10) grayscale(100);
  }
}

.flat-image-light {
  filter: brightness(10) grayscale(100);
}

.vertical-layout {
  &.vertical-menu-modern {
    .main-menu {
      .navigation {
        .menu-content {
          > li > a svg,
          > li > a i {
            height: 14px !important;
            width: 14px !important;
          }
        }
      }
    }
  }
}

.navigation {
  li {
    li a {
      svg,
      i {
        height: 14px !important;
        width: 14px !important;
      }
    }
  }
}

.dark-layout {
  .b-overlay {
    .bg-light {
      background-color: $theme-dark-body-bg !important;
    }
  }
}

.dark-layout {
  .table-danger > td {
    background-color: $dark-danger !important;
  }
}

.pac-container {
  z-index: 2000;
}

.vue-map-container:after {
  width: 27px;
  height: 43px;
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -11px;
  background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png');
  background-size: 27px 43px;
  pointer-events: none;
}

.echarts {
  width: 100% !important;
}

.dark-layout {
  .vs--disabled {
    .vs__dropdown-toggle {
      opacity: 0.5;
    }
  }
}

.vs__search,
.vs__open-indicator {
  background-color: unset !important;
}

.list-group-item {
  transition: all 0.5s;
}

.list-group-item.fade-leave-active {
  position: absolute;
  width: 100%;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.feather {
  &.filled {
    fill: currentColor;
  }
}

.demo-inline-spacing > * {
  margin-top: 0.5rem;
}


body {
  .training-center-img {
    filter: brightness(1.5);
  }
  &.dark-layout {
    .training-center-img {
      filter: brightness(4.0);
    }
  }
}

.icon-checked::after {
  position: absolute;
  transform: translate(5px, -14px);
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  z-index: 100000;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.5 7.5'%3E%3Cpolyline points='0.75 4.35 4.18 6.75 8.75 0.75' style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px'/%3E%3C/svg%3E");
}

.detail-mode {
  .form-control-plaintext {
    color: $body-color;
  }
}

.dark-layout {
  .detail-mode {
    .form-control-plaintext {
      color: $theme-dark-body-color;
    }
  }
}
