<b-overlay
  variant="light"
  :show="loading"
  spinner-variant="primary"
  blur="0"
  opacity=".5"
  rounded="sm"
>
  <b-card>

    <validation-observer ref="formRules">
      <b-form>
        <h3 class="ml-2 mb-2 text-black">
          <strong>Edit Profile</strong>
        </h3>
        <h4 class="ml-2 text-black">
          <strong>Profile Pemilik Bisnis</strong>
        </h4>
        <b-row class="mt-1">

          <b-col cols="12" md="8">
            <b-form-group
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <span class="text-black">
                  Nama Lengkap<span class="text-primary">*</span>
                </span>
              </template>
              <validation-provider
                #default="{errors}"
                name="Nama Lengkap"
                rules="required"
              >
                <b-form-input
                  v-model="fullname"
                  placeholder="Nama Lengkap"
                  :state="errors.length > 0 ? false:null"
                  @keypress="handleEnter"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>

          <b-col cols="12" md="8">
            <b-form-group
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <span class="text-black">
                  Username<span class="text-primary">*</span>
                </span>
              </template>
              <validation-provider
                #default="{errors}"
                name="Username"
                rules="required"
              >
                <b-input-group>
                  <b-form-input
                    v-model="username"
                    placeholder="Username"
                    :disabled="true"
                    :state="errors.length > 0 ? false:null"
                    style="background: white; border: 1.5px solid #F3F3F3 !important; color: #C0C0C0"
                  />
                  <template #append>
                   <b-button variant="flat-dark" class="btn-icon" size="sm" @click="openModalEdit('username')":disabled="userData.username_change === false">
                      <b-img
                        v-if="userData.username_change === true"
                        src="@/assets/images/icons/new-edit-icon.svg"
                      />
                      <b-img
                        v-if="userData.username_change === false"
                        src="@/assets/images/icons/disable-edit-icon.svg"
                      />
                    </b-button>
                  </template>
                  <small class="text-danger">{{ errors[0] }}</small>
                </b-input-group>
              </validation-provider>
            </b-form-group>
          </b-col>

          <b-col cols="12" md="8">
            <b-form-group
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <span class="text-black">
                  Jenis Kelamin
                </span>
              </template>
              <validation-provider
                #default="{errors}"
                name="Jenis Kelamin"
                rules="required"
              >
                <b-form-radio-group
                  v-model="jenisKelamin"
                  :options="options"
                  class="demo-inline-spacing mb-1"
                  value-field="value"
                  text-field="text"
                  disabled-field="disabled"
                  :state="errors.length > 0 ? false:null"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>

          <b-col cols="12" md="8">
            <b-form-group
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <span class="text-black">
                  No. HP<span class="text-primary">*</span>
                </span>
              </template>
              <validation-provider
                #default="{errors}"
                name=" No. HP"
                rules="required"
              >
                <b-input-group>
                  <b-form-input
                    v-model="noHP"
                    type="number"
                    placeholder="Nomer HP"
                    :state="errors.length > 0 ? false:null"
                    style="background: white; border: 1.5px solid #F3F3F3 !important; color: #C0C0C0"
                    disabled
                  />
                  <template #append>
                    <b-button variant="flat-dark" size="sm"  class="btn-icon" @click="popupEdit('nomer')">
                      <b-img src="@/assets/images/icons/new-edit-icon.svg" />
                    </b-button>
                  </template>
                  <small class="text-danger">{{ errors[0] }}</small>
                </b-input-group>
              </validation-provider>
            </b-form-group>
          </b-col>

          <b-col cols="12" md="8">
            <b-form-group
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <span class="text-black">
                  Email<span class="text-primary">*</span>
                </span>
              </template>
              <validation-provider
                #default="{errors}"
                name="Email"
                rules="required|email"
              >
                <b-input-group>
                  <b-form-input
                    v-model="emailUser"
                    placeholder="Email"
                    :state="errors.length > 0 ? false:null"
                    style="background: white; border: 1.5px solid #F3F3F3 !important; color: #C0C0C0"
                    onpaste="return false"
                    @keypress="NoSpace($event)"
                    disabled
                  />
                  <template #append>
                    <b-button variant="flat-dark" size="sm"  class="btn-icon" @click="popupEdit('email')">
                      <b-img src="@/assets/images/icons/new-edit-icon.svg" />
                    </b-button>
                  </template>
                  <small class="text-danger">{{ errors[0] }}</small>
                </b-input-group>
              </validation-provider>
            </b-form-group>
          </b-col>

          <b-col cols="12" md="8">
            <b-form-group
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <span class="text-black">
                  Alamat
                </span>
              </template>
              <validation-provider
                #default="{errors}"
                name="Alamat"
                rules="required"
              >
                <b-form-textarea
                  v-model="address"
                  placeholder="Alamat"
                  rows="3"
                  :state="errors.length > 0 ? false:null"
                  @keypress="handleEnter"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>

          <b-col
            cols="12"
            class="mt-2"
          >
            <h4 class="ml-2 text-black">
              <strong>Profile Bisnis</strong>
            </h4>
          </b-col>

          <b-col cols="12" md="8">
            <b-form-group
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <span class="text-black">
                  Upload Logo
                </span>
              </template>
              <transition name="fade">
                <b-avatar
                  v-if="fieldLogoBusiness.length > 0 && imageFile !== null"
                  v-model="imageFile"
                  variant="light-primary"
                  size="50"
                  :src="imageFile ? fileUrl(imageFile) : imageInitialFile"
                  class="mr-50"
                />
                <b-avatar
                  v-else
                  v-model="imageFile"
                  variant="light-primary"
                  size="50"
                  :src="imageFile ? fileUrl(imageFile) : imageInitialFile"
                  class="mr-50"
                />
              </transition>
              <label
                v-if="fieldLogoBusiness.length === 0"
                for="uploadLogo"
              >
                <b-avatar
                  variant="light-dark"
                  size="50"
                  class="btn btn-flat-primary btn-icon"
                >
                  <feather-icon
                    icon="PlusIcon"
                    size="35"
                  />
                </b-avatar>
              </label>
              <label
                v-else
                for="uploadLogo"
                class="btn btn-flat-dark btn-icon"
              >
                <feather-icon
                  icon="EditIcon"
                  size="20"
                />
              </label>
              <label
                v-if="imageFile !== null || imageInitialFile !== null"
                class="btn btn-flat-primary btn-icon"
                @click="removeLogoBusiness"
              >
                <feather-icon
                  icon="Trash2Icon"
                  size="20"
                />
              </label>
              <b-form-file
                id="uploadLogo"
                v-model="imageFile"
                :placeholder="
                  imageInitialFile
                    ? imageInitialFile.split('/').pop()
                    : `Pilih atau drop file disini...`
                "
                drop-placeholder="Drop file disini..."
                accept="image/*"
                class="d-none"
                @change="tesChange"
              />
            </b-form-group>
          </b-col>

          <b-col cols="12" md="8">
            <b-form-group
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <div style="display:grid;">
                  <span class="text-black">
                    Nama Bisnis<span class="text-primary">*</span>
                  </span>
                  <span>
                    Akan ditampilkan di Label
                  </span>
                </div>
              </template>
              <validation-provider
                #default="{errors}"
                name="Nama Bisnis"
                rules="required"
              >
                <b-form-input
                  v-model="nameBusiness"
                  :state="errors.length > 0 ? false:null"
                  placeholder="Nama Bisnis"
                  :formatter="formatBusinessName"
                  @keypress="validateInputBusinessName"
                />
                <b-row class="justify-content-between">
                  <small class="text-primary ml-1 mt-50">{{ errors[0] }}</small>
                  <small class="mr-1 mt-50">
                    <small
                      v-if="messageErrorLengthNameBusiness"
                      class="text-primary"
                    >
                      *hindari menggunakan simbol (/) (=) (:) (;)
                    </small>
                    {{ nameBusiness.length }}/30
                  </small>
                </b-row>
              </validation-provider>
            </b-form-group>
          </b-col>
          <b-col cols="12" md="8">
            <b-form-group
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <div style="display:grid;">
                  <span class="text-black">
                    No HP Bisnis<span class="text-primary">*</span>
                  </span>
                  <span>
                    Akan ditampilkan di Label
                  </span>
                </div>
              </template>
              <validation-provider
                #default="{errors}"
                name="No HP Bisnis"
                rules="required"
              >
                <b-form-input
                  v-model="phoneBusiness"
                  :state="errors.length > 0 ? false:null"
                  placeholder="No HP Bisnis"
                  type="number"
                  @input="formatPhoneProfile"
                  @keypress="validateInputPhoneProfile"
                  @keydown="handleArrowInput"
                />
                <b-row class="justify-content-between">
                  <small class="text-primary ml-1 mt-50">{{ errors[0] }}</small>
                  <small class="mr-1 mt-50">
                    <small
                      v-if="messageErrorPhone"
                      class="text-primary"
                    >
                      *minimal 9 digit dan hanya berupa angka.
                    </small>
                  </small>
                </b-row>
              </validation-provider>
            </b-form-group>
          </b-col>

          <b-col cols="12" md="8">
            <b-form-group
              label="Lokasi"
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <span class="text-black">
                  Lokasi<span class="text-primary">*</span>
                </span>
              </template>
              <validation-provider
                #default="{errors}"
                name="Lokasi"
                rules="required"
              >
                <v-select
                  v-model="cityCode"
                  :options="provinceItems"
                  label="values"
                  :state="errors.length > 0 ? false:null"
                  @input="handleValueCityCode"
                  @search="onSearchProvince"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>

          <b-col cols="12" md="8">
            <b-form-group
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <span class="text-black">
                  Sektor Bisnis
                </span>
              </template>
              <v-select
                v-model="sektorBusiness"
                label="partner_category_name"
                :options="partnerCategoryItems"
                :reduce="option => option.partner_category_name"
              />
            </b-form-group>
          </b-col>

          <b-col cols="12" md="8">
            <b-form-group
              label-cols-md="3"
              class="ml-2"
            >
              <template #label>
                <span class="text-black">
                  Tipe Bisnis
                </span>
              </template>
              <v-select
                v-model="typeBusiness"
                label="name"
                :options="businessTypeItems"
                :reduce="option => option.id"
              />
            </b-form-group>
          </b-col>

          <!-- submit and reset -->
          <b-col
            class="d-flex justify-content-end mt-3"
            md="12"
          >
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="reset"
              variant="outline-primary"
              class="mr-1"
              @click.prevent="reset"
            >
              Batalkan
            </b-button>
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              type="submit"
              variant="primary"
              @click.prevent="updateProfile"
            >
              <b-spinner
                v-if="loadingSubmit"
                variant="light"
                small
              />
              Simpan
            </b-button>
          </b-col>
        </b-row>

      </b-form>
    </validation-observer>

  </b-card>

  <!-- Modal Edit -->
  <b-modal
    ref="modal-edit"
    hide-footer
    hide-header
    centered
    @hide="hideCloseModalEdit"
  >
    <validation-observer
      ref="formRulesEdit"
      #default="{invalid}"
    >
      <b-row class="pt-2 mb-2 justify-content-center">
        <h4 class="text-black">
          <strong>
            {{ modalTitle }}
          </strong>
        </h4>
      </b-row>

      <b-row class="mb-2 justify-content-center">
        <span class="text-black">{{ modalSubtitle }}</span>
      </b-row>

      <b-row class="justify-content-center mx-2 mb-3">
        <b-col cols="12">
            <b-form-group
                label-cols-md="5"
            >
                <template #label>
                  <span class="text-black">
                    <strong>
                      {{ modalFormLabel }}
                    </strong>
                  </span>
                </template>
                <validation-provider
                  v-if="modalEditFormInputType !== 'email'"
                  #default="{errors}"
                  :name="nameValidator"
                  rules="required"
                >
                  <b-input-group>
                    <b-form-input
                      v-if="modalEditFormInputType === 'number'"
                      v-model="formInputEditItem"
                      :type="modalEditFormInputType"
                      :formatter="formatEditPhone"
                      @keypress="validateInputPhone"
                      @paste="formatterPhone"
                      @input="formatPhone"
                      @keyup="valueFormatPhone"
                    />
                    <b-form-input
                      v-if="modalEditFormInputType !== 'number'"
                      v-model="formInputEditItem"
                      :type="modalEditFormInputType"
                      :state="errors.length > 0 ? false:null"
                      @input="handleMessageErrorUsernameIsSame"
                    />
                    <template
                      v-if="modalTitle === 'Password Komship'"
                    #append>
                      <b-button
                        class="btn-icon"
                        variant="flat-dark"
                        @click="changeEyeIcon"
                      >
                        <feather-icon :icon="itemEyeIcon" />
                      </b-button>
                    </template>
                  </b-input-group>
                  <b-row>
                    <small
                      v-if="messageErrorPassword"
                      class="text-primary ml-1"
                    >
                      Password salah
                    </small>
                  </b-row>
                  <b-row>
                    <small
                      v-if="messageErrorUsernameIsSame"
                      class="text-primary ml-1"
                    >
                      Username tidak boleh sama dengan saat ini
                    </small>
                  </b-row>
                  <b-row>
                    <small
                      v-if="usernameExist"
                      class="text-primary ml-1"
                    >
                      *Username telah digunakan orang lain
                    </small>
                  </b-row>
                  <div v-if="errorNoHp">
                    <small class="mr-1 text-primary">
                      *minimal 8 digit berupa angka
                    </small>
                  </div>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
                <validation-provider
                  v-if="modalEditFormInputType === 'email'"
                  #default="{errors}"
                  :name="nameValidator"
                  rules="required|email"
                >
                  <b-input-group>
                    <b-form-input
                      v-model="formInputEditItem"
                      :type="modalEditFormInputType"
                      :state="errors.length > 0 ? false:null"
                      @input="resetMessageErrorEmail"
                    />
                    <template
                      v-if="modalEditFormInputType === 'password'"
                    #append>
                      <b-button
                        class="btn-icon"
                        variant="flat-dark"
                        @click="changeEyeIcon"
                      >
                        <feather-icon :icon="itemEyeIcon" />
                      </b-button>
                    </template>
                  </b-input-group>
                  <b-row>
                    <small
                      v-if="messageErrorPassword"
                      class="text-primary"
                    >
                      Password salah
                    </small>
                  </b-row>
                  <div v-if="errorNoHp">
                    <small class="mr-1 text-primary">
                      *minimal 9 digit berupa angka
                    </small>
                  </div>
                  <b-row>
                    <small v-if="messageErrorEmail !== null" class="text-primary ml-1">
                      {{ messageErrorEmail }}
                    </small>
                  </b-row>
                  <b-row>
                    <small v-if="emailSamePrevious === true" class="text-primary ml-1">
                      Email yang dimasukan sama dengan yang sekarang, coba email yang lain
                    </small>
                  </b-row>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
            </b-form-group>
        </b-col>
      </b-row>

      <b-row class="justify-content-end mb-2">
        <b-button
          class="mr-50"
          variant="outline-primary"
          @click="closeModalEdit"
        >
          Batal
        </b-button>
        <b-button
          v-if="successConfirmPassword === false"
          class="mr-2"
          variant="primary"
          :disabled="!formInputEditItem || invalid"
          @click="submitEdit"
        >
          <b-spinner
            v-if="loadingEdit"
            small
          />
          {{ labelSubmit }}
        </b-button>

        <b-button
          v-if="successConfirmPassword"
          class="mr-2"
          variant="primary"
          :disabled="!formInputEditItem || invalid"
          @click="submitVerification"
        >
          <b-spinner
            v-if="loadingEdit"
            small
          />
          Lanjutkan Verifikasi
        </b-button>
      </b-row>
    </validation-observer>
  </b-modal>

  <!-- Modal Success Edit Username -->
  <b-modal
    ref="modal-success-edit-username"
    hide-footer
    hide-header
    centered
  >
    <b-row class="justify-content-center mb-2 pt-2">
        <b-img src="@/assets/images/icons/success.svg" />
    </b-row>

    <b-row class="justify-content-center mb-50">
        <h4 class="text-black text-center">
          <strong>
            Username Berhasil Diganti
          </strong>
        </h4>
    </b-row>
  
    <b-row class="justify-content-center mb-2 mx-3">
        <span class="text-black text-center">
          Sekarang Anda dapat masuk dengan menggunakan username terbaru.
        </span>
    </b-row>

    <b-row class="justify-content-center pb-2">
        <b-col md="4">
            <b-button
                    variant="primary"
                    block
                    @click="closeSuccessEditUsername"
                >
                    Oke
              </b-button>
        </b-col>
    </b-row>
  </b-modal>

  <!-- Modal Verification -->
  <b-modal
    ref="modal-verification-edit"
    hide-footer
    hide-header
    centered
  >
    <b-row class="justify-content-center mb-1 mt-1">
        <h4 class="text-black text-center">
          <strong>
            Verifikasi Nomor Hp
          </strong>
        </h4>
    </b-row>

    <b-row class="justify-content-center mb-2 mx-3">
        <span class="text-black text-center">
          Mohon verifikasi identitas kamu dengan memasukan Kode Verifikasi (OTP) yang dikirimkan via SMS ke Nomor kamu {{ formInputEditItem }}
        </span>
    </b-row>

    <b-row class="justify-content-center mb-50">
      <PincodeInput
        v-model="otpConfirmation"
        placeholder="0"
        :length="6"
        :autofocus="true"
      />
    </b-row>

    <b-row v-if="errorOtp === true" class="justify-content-center mb-50">
      <span class="text-primary">Masukan kode OTP dengan benar</span>
    </b-row>

    <b-row class="justify-content-center mb-1">
      <span v-if="resendOtp === false">
        Kirim ulang ({{ countOtp }})
      </span>
      <b-button v-if="resendOtp === true" variant="flat-primary" size="sm" @click="handleResendOtp">
        <b-spinner v-if="loadingOtp" small />
        Kirim ulang
      </b-button>
    </b-row>

    <b-row class="justify-content-center mb-2">
      <b-button
        variant="flat-primary"
        class="mr-1"
        @click="handleBackEdit"
      >
        Kembail
      </b-button>
      <b-button
        variant="primary"
        @click="sendVerification"
      >
        <b-spinner
          v-if="loadingEdit"
          small
        />
        Konfirmasi
      </b-button>
    </b-row>
  </b-modal>

  <!-- Modal Success Verification -->
  <b-modal
    ref="modal-success-verification"
    hide-footer
    hide-header
    centered
  >
      <b-row class="justify-content-center mb-1 mt-1">
          <h4 class="text-black text-center">
            <strong>
              {{ successVerificationTitle }}
            </strong>
          </h4>
      </b-row>

      <b-row class="justify-content-center mb-1 mx-3">
          <span class="text-black text-center">
            {{ descriptionSuccessVerification }}
          </span>
      </b-row>

      <b-row class="justify-content-center mb-2">
        <b-button
          variant="primary"
          @click="closeSuccessVerification"
        >
          Oke
        </b-button>
      </b-row>
  </b-modal>

  <!-- new modal edit nomer hp -->
  <b-modal
    ref="popup-edit-nomer"
    hide-footer
    hide-header
    no-close-on-backdrop
    no-close-on-esc
    centered
  >
    <b-row class="justify-content-end">
      <b-img src="https://storage.googleapis.com/komerce/assets/icons/close-circle.svg" class="cursor-pointer m-50" @click="handleClosePopupEditNomer" />
    </b-row>
    <b-row class="justify-content-center mb-1">
      <h3 class="text-black">
        <strong>
          {{ titlePopup }}
        </strong>
      </h3>
    </b-row>
    <b-row class="justify-content-center mb-1">
      <h4 class="text-black">
        <strong>
          Pilih Metode Verifikasi
        </strong>
      </h4>
    </b-row>
    <b-row class="justify-content-center mb-1 mx-5">
      <span class="text-center">
        Pilih salah satu metode dibawah ini untuk mendapatkan kode verifikasi
      </span>
    </b-row>
    <b-row class="justify-content-center mb-1">
      <b-col cols="11" class="wrapper-box-email" :style="boxIsClicked === 'email' ? 'background: #FCD4BE; cursor: not-allowed' : 'cursor: pointer;'" @click="loadingNew ? '' : editNomerHp('email')">
        <b-row class="my-1">
          <b-col cols="2" class="p-0 d-flex justify-content-center align-items-center">
            <b-img src="https://storage.googleapis.com/komerce/assets/komerce-icon/Orange/sms.svg" style="width: 40px;" />
          </b-col>
          <b-col cols="10" style="position: relative;">
            <div class="d-flex align-items-center">
              <div>
                <h5>
                  <strong>
                    E-mail ke
                  </strong>
                </h5>
                <span>
                  {{ censorEmail(profile.user_email) }}
                </span>
              </div>
              <div v-if="loadingSendVerificationEmail" style="position: absolute; right: 0;">
                <lottie-animation
                  path="animation/LoadingProcess.json"
                  :width="80"
                />
              </div>
            </div>
          </b-col>
        </b-row>
      </b-col>
      <b-col cols="10">
        <b-row>
        </b-row>
      </b-col>
    </b-row>
    <b-row class="justify-content-center mb-2 cursor-pointer">
      <b-col cols="11" class="wrapper-box-email" :style="boxIsClicked === 'no' ? 'background: #FCD4BE; cursor: not-allowed' : 'cursor: pointer;'" @click="editNomerHp('no')">
        <b-row class="my-1">
          <b-col cols="2" class="p-0 d-flex justify-content-center align-items-center">
            <b-img src="https://storage.googleapis.com/komerce/assets/komerce-icon/Orange/call.svg" style="width: 40px;" />
          </b-col>
          <b-col cols="10" style="position: relative;">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h5>
                  <strong>
                    SMS kode OTP ke
                  </strong>
                </h5>
                <span>
                  {{ censorPhone(profile.user_phone) }}
                </span>
              </div>
              <div v-if="loadingSendVerificationNo" style="position: absolute; right: 0;">
                <lottie-animation
                  path="animation/LoadingProcess.json"
                  :width="80"
                />
              </div>
            </div>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-modal>

  <b-modal
    ref="popup-new-verification"
    hide-footer
    hide-header
    no-close-on-backdrop
    no-close-on-esc
    centered
  >
    <b-row class="justify-content-end">
      <b-img src="https://storage.googleapis.com/komerce/assets/icons/close-circle.svg" class="cursor-pointer m-50" @click="handleCloseNewVerification" />
    </b-row>

    <b-row class="mb-1 justify-content-center">
      <h4 class="text-black text-center">
        <strong>
          {{ titleVerification }}
        </strong>
      </h4>
    </b-row>
    
    <b-row class="mb-1 justify-content-center">
      <b-img v-if="boxIsClicked === 'email'" src="https://storage.googleapis.com/komerce/assets/komerce-icon/Orange/sms.svg" style="width: 40px;" />
      <b-img v-if="boxIsClicked === 'no'" src="https://storage.googleapis.com/komerce/assets/komerce-icon/Orange/call.svg" style="width: 40px;" />
    </b-row>

    <b-row class="mb-1 justify-content-center">
      <h5 class="text-black text-center">
        <strong>
          Masukkan Kode Verifikasi
        </strong>
      </h5>
    </b-row>

    <b-row v-if="otpIsWrong" class="mb-2 justify-content-center mx-2">
      <span class="text-center">
        Kode OTP yang kamu masukkan <strong class="text-primary">salah</strong> harap cek kode OTP di email kamu kemudian masukkan kembali
      </span>
    </b-row>
    
    <b-row v-if="!otpIsWrong" class="mb-2 justify-content-center">
      <span class="text-center">
        {{ verificationDescriptionMode }}
      </span>
    </b-row>

    
    <b-row class="justify-content-center mb-50">
      <PincodeInput
        v-model="otpItem"
        placeholder="0"
        :length="6"
        :autofocus="autofocusInputOtp"
        class="pincode"
        @input="newCheckOtp"
      />
    </b-row>
    
    <b-row class="mb-50 justify-content-center">
      <small v-if="countOtp !== 0" class="text-center">
        Mohon tunggu dalam {{ countOtp }} detik untuk kirim ulang
      </small>
      <small v-if="countOtp === 0">
        Tidak menerima kode? 
        <b-button variant="flat-primary" class="btn-icon" size="sm" @click="sendOtpAgain">
          <b-spinner v-if="loadingNewResend" small /> Kirim ulang
        </b-button>
      </small>
    </b-row>

    <b-row class="mb-1 justify-content-center">
      <b-button v-if="otpSubmit > 1" variant="flat-primary btn-icon" size="sm" @click="changeMethodOtp">
        <small class="text-center text-primary">
          Coba dengan metode lain
        </small>
      </b-button>
    </b-row>
  </b-modal>

  <!-- Confirm New Nomer -->
  <b-modal
    ref="popup-new-phone"
    hide-footer
    hide-header
    no-close-on-backdrop
    no-close-on-esc
    centered
  >
    <b-row class="justify-content-end">
      <b-img src="https://storage.googleapis.com/komerce/assets/icons/close-circle.svg" class="cursor-pointer m-50" @click="handleCloseNewVerification" />
    </b-row>
    <div v-if="activityEdit === 'nomer'">
      <b-row class="justify-content-center mb-50">
        <h4 class="text-center text-black">
          <strong>
            Ubah No HP
          </strong>
        </h4>
      </b-row>
      <b-row class="justify-content-center mx-2 mb-2">
        <span class="text-center">
          Demi keamanan, pengguna diharuskan memperbarui nomor Hp yang bisa dihubungi secara berkala
        </span>
      </b-row>
      <form class="mb-1">
        <b-row class="justify-content-center">
          <b-col cols="11" class="mb-1">
            <label for="old-number">
              <strong class="text-black">Nomor HP Lama</strong>
            </label>
            <div class="d-flex align-items-center pl-1" style="background: #F4F4F4;
            border-radius: 8px; height: 3rem!important; border: 0;">
             {{ censorPhone(profile.user_phone) }}
            </div>
          </b-col>
          <b-col cols="11" class="mb-50">
            <label for="new-number">
              <strong class="text-black">Nomor HP Baru</strong>
            </label>
            <b-form-input
              id="new-number"
              v-model="newNumberItem"
              :style="errorNumber || newNumberItem === profile.user_phone ? 'border: 1px solid #E31A1A; border-radius: 8px; height: 3rem!important; background: #FFEDED;' : 'border: 1px solid #E2E2E2; border-radius: 8px; height: 3rem!important;'"
              :formatter="(e) => String(e).substring(0, 14)"
              type="number"
              @blur="checkFormatNumberOnBlur"
              @keypress="validateInputPhoneNumber"
              @input="checkFormatNumber"
            />
            <b-row v-if="errorNumber" class="my-50">
              <small class="text-primary ml-1">*Nomor Hp belum benar</small>
            </b-row>
            <b-row v-if="numberIsUsed" class="my-50">
              <small class="text-primary ml-1">*Nomor Hp sudah digunakan orang lain</small>
            </b-row>
            <b-row v-if="newNumberItem === profile.user_phone" class="my-50">
              <small class="text-primary ml-1">*Nomor Hp tidak boleh sama dengan sebelumnya </small>
            </b-row>
            <b-row v-if="typeNumber" class="my-50">
              <small class="text-primary ml-1"> *Dimulai dari 08 dulu ya..</small>
            </b-row>
          </b-col>
          <b-col cols="11" class="mb-1">
            <label for="old-number" class="text-black">
              Kami akan mengirimkan kode verifikasi melalui SMS
            </label>
          </b-col>
          <b-col cols="12" class="text-center">
            <b-button class="wrapper-loading-next-verification" :style="newNumberItem.length >= 8 && newNumberItem !== profile.user_phone ? 'background: #FF6A3A!important; border: 1px solid #E2E2E2!important; border-radius: 8px; color: white;' : 'background: #E2E2E2!important; border: 1px solid #E2E2E2!important; border-radius: 8px; color: #626262!important; cursor: not-allowed!important;'" :disabled="newNumberItem.length < 8 || newNumberItem === profile.user_phone" @click="nextStepVerificationChangeNo">
              <strong :style="loadingNew ? 'visibility: hidden;' : ''">Selanjutnya</strong>
              <lottie-animation
                v-if="loadingNew"
                path="animation/LoadingProcess.json"
                class="loadingNextVerification"
              />
            </b-button>
          </b-col>
        </b-row>
      </form>
    </div>
    <div v-else>
      <b-row class="justify-content-center mb-50">
        <h4 class="text-center text-black">
          <strong>
            Ubah Email
          </strong>
        </h4>
      </b-row>
      <b-row class="justify-content-center mx-2 mb-2">
        <span class="text-center">
          Demi keamanan, pengguna diharuskan memperbarui email yang bisa dihubungi secara berkala
        </span>
      </b-row>
      <form class="mb-1">
        <b-row class="justify-content-center">
          <b-col cols="11" class="mb-1">
            <label for="old-number">
              <strong class="text-black">Email Lama</strong>
            </label>
            <div class="d-flex align-items-center pl-1" style="background: #F4F4F4;
            border-radius: 8px; height: 3rem!important; border: 0;">
             {{ censorEmail(profile.user_email) }}
            </div>
          </b-col>
          <b-col cols="11" class="mb-50">
            <label for="new-number">
              <strong class="text-black">Email Baru</strong>
            </label>
            <b-form-input
              id="new-number"
              v-model="newEmailItem"
              :style="errorEmail || newEmailItem === profile.user_email ? 'border: 1px solid #E31A1A; border-radius: 8px; height: 3rem!important; background: #FFEDED;' : 'border: 1px solid #E2E2E2; border-radius: 8px; height: 3rem!important;'"
              type="email"
              :formatter="(e) => String(e).substring(0, 50)"
              @blur="checkFormatEmailOnBlur"
              @input="checkFormatEmail"
            />
            <b-row v-if="errorEmail" class="my-50">
              <small class="text-primary ml-1">*Format Email belum benar</small>
            </b-row>
            <b-row v-if="emailIsUsed" class="my-50">
              <small class="text-primary ml-1">*Email sudah digunakan orang lain</small>
            </b-row>
            <b-row v-if="newEmailItem === profile.user_email" class="my-50">
              <small class="text-primary ml-1">*Email tidak boleh sama dengan sebelumnya </small>
            </b-row>
          </b-col>
          <b-col cols="11" class="mb-1">
            <label for="old-number" class="text-black">
              Kami akan mengirimkan kode verifikasi melalui Email
            </label>
          </b-col>
          <b-col cols="12" class="text-center">
            <b-button v-if="activityEdit === 'nomer'" class="wrapper-loading-next-verification" :style=" newNumberItem.length >= 8? 'background: #FF6A3A!important; border: 1px solid #E2E2E2!important; border-radius: 8px; color: white;' : 'background: #E2E2E2!important; border: 1px solid #E2E2E2!important; border-radius: 8px; color: #626262!important; cursor: not-allowed!important;'" :disabled="newNumberItem.length < 8" @click="nextStepVerificationChangeNo">
              <strong :style="loadingNew ? 'visibility: hidden;' : ''">Selanjutnya</strong>
              <lottie-animation
                v-if="loadingNew"
                path="animation/LoadingProcess.json"
                class="loadingNextVerification"
              />
            </b-button>
            <b-button v-else class="wrapper-loading-next-verification" :style="!errorEmail && newEmailItem !== '' && newEmailItem !== profile.user_email ? 'background: #FF6A3A!important; border: 1px solid #E2E2E2!important; border-radius: 8px; color: white;' : 'background: #E2E2E2!important; border: 1px solid #E2E2E2!important; border-radius: 8px; color: #626262!important; cursor: not-allowed!important;'" :disabled="errorEmail || newEmailItem === profile.user_email" @click="nextStepVerificationChangeNo">
              <strong :style="loadingNew ? 'visibility: hidden;' : ''">Selanjutnya</strong>
              <lottie-animation
                v-if="loadingNew"
                path="animation/LoadingProcess.json"
                class="loadingNextVerification"
              />
            </b-button>
          </b-col>
        </b-row>
      </form>
    </div>
  </b-modal>

  <!-- Popup New OTP Confirmation -->
  
  <b-modal
    ref="popup-new-otp-verification"
    hide-footer
    hide-header
    no-close-on-backdrop
    no-close-on-esc
    centered
  >
    <b-row class="justify-content-end">
      <b-img src="https://storage.googleapis.com/komerce/assets/icons/close-circle.svg" class="cursor-pointer m-50" @click="handleCloseNewOtpVerification" />
    </b-row>

    <b-row class="mb-1 justify-content-center">
      <h4 class="text-black text-center">
        <strong>
          Verifikasi OTP
        </strong>
      </h4>
    </b-row>
    
    <b-row class="mb-1 justify-content-center">
      <b-img v-if="activityEdit === 'email'" src="https://storage.googleapis.com/komerce/assets/komerce-icon/Orange/sms.svg" style="width: 40px;" />
      <b-img v-if="activityEdit === 'nomer'" src="https://storage.googleapis.com/komerce/assets/komerce-icon/Orange/call.svg" style="width: 40px;" />
    </b-row>

    <b-row class="mb-1 justify-content-center">
      <h5 class="text-black text-center">
        <strong>
          Masukkan Kode Verifikasi
        </strong>
      </h5>
    </b-row>
    
    <b-row v-if="!otpIsWrong" class="mb-2 justify-content-center flex-column align">
      <span class="text-center">
        Kode verifikasi telah dikirim melalui {{ activityEdit === 'nomer' ? 'SMS' : 'EMAIL' }} ke
      </span>
      <span class="text-center">
        <strong>
          {{ activityEdit === 'nomer' ? newNumberItem : newEmailItem }}
        </strong>
      </span>
    </b-row>

    <b-row v-if="otpIsWrong" class="mb-2 justify-content-center mx-2">
      <span class="text-center">
        Kode OTP yang kamu masukkan <strong class="text-primary">salah</strong> harap cek kode OTP di email kamu kemudian masukkan kembali
      </span>
    </b-row>

    
    <b-row class="justify-content-center mb-50">
      <PincodeInput
        v-model="otpItem"
        placeholder="0"
        :length="6"
        :autofocus="autofocusInputOtp"
        @input="newCheckConfirmOtp"
      />
    </b-row>
    
    <b-row class="mb-50 justify-content-center">
      <small v-if="countOtp !== 0" class="text-center">
        Mohon tunggu dalam {{ countOtp }} detik untuk kirim ulang
      </small>
      <small v-if="countOtp === 0">
        Tidak menerima kode? 
        <b-button variant="flat-primary" class="btn-icon" size="sm" @click="sendOtpConfirmationAgain">
          Kirim ulang
        </b-button>
      </small>
    </b-row>
  </b-modal>

  <!-- Success -->
  <b-modal
    ref="popup-success-nomor"
    hide-footer
    hide-header
    centered
    :no-close-on-esc="activityEdit === 'email' ? true : false"
    :no-close-on-backdrop="activityEdit === 'email' ? true : false"
  >
    <b-row class="justify-content-center mt-1 mb-2">
      <b-img src="@/assets/images/icons/success.svg" />
    </b-row>

    <b-row class="justify-content-center mb-50">
      <h4 class="text-black text-center">
        <strong>
          {{ activityEdit === 'email' ? 'Email Berhasil Diganti' : 'Nomor HP Berhasil Diganti' }}
        </strong>
      </h4>
    </b-row>
    <b-row class="justify-content-center mb-2 mx-3">
      <span v-if="activityEdit === 'nomer'" class="text-black text-center">
        Selamat! Kami telah mengkonfirmasi {{ newNumberItem }} sebagai nomor HP untuk akun Komerce kamu. Setelah ini coba login ulang yaa..
      </span>
      <span v-else class="text-black text-center">
        Selamat! Kami telah mengkonfirmasi {{ newEmailItem }} sebagai email untuk akun Komerce kamu. Setelah ini coba login ulang yaa..
      </span>
    </b-row>
    <b-row class="justify-content-center mb-2">
      <b-button
        variant="primary"
        @click="closeSuccessPopup"
      >
        Oke
      </b-button>
    </b-row>
  </b-modal>
</b-overlay>
