.add-pickup-details-main-wrapper {
  position: relative;
}
.add-pickup-details-title {
  font-weight: 600;
  font-size: 24px;
  color: #222222;
  position: absolute;
  top: 0;
  right: 0;
}
.floating-print-button {
  position: absolute;
  top: 40px;
  right: 0;
}