<div class="container p-0">
  <h1 class="mb-2 h-text-xl">
    Informasi Saldo
  </h1>
  <div class="row">
    <div class="col-12 col-md-4 mb-1">
      <div class="card h-100">
        <div class="card-header mb-8 pb-0">
          <div class="d-flex align-items-center">
            <div class="first-card-header-text me-8 mb-0">
              Saldo
            </div>
            <popover-info classprops="px-0" text="Saldo kamu saat ini." />
          </div>
        </div>
        <div class="card-body h-text-xl pb-0 mb-0">
          {{ formatRupiah(saldo) }}
        </div>
        <div
          class="
            card-footer
            d-flex
            justify-content-around
            bg-orange
            text-white
            rounded-16
            py-9
          "
        >
          <a
            class="
              d-flex
              flex-column
              justify-content-center
              align-items-center
            "
            @click="showTopUpModal()"
          >
            <img
              src="@/assets/images/icons/send-square.svg"
              alt="Top Up"
            >
            <p class="h-text-xs mb-0">Top Up</p>
          </a>
          <a
            class="
              d-flex
              flex-column
              justify-content-center
              align-items-center
            "
            @click="showModal()"
          >
            <img
              src="@/assets/images/icons/receive-square.svg"
              alt="Tarik Saldo"
            >
            <p class="h-text-xs mb-0">Tarik Saldo</p>
          </a>
          <a
            href="/keuangan/saldo/detail"
            class="
              d-flex
              text-reset
              flex-column
              justify-content-center
              align-items-center
            "
          >
            <img
              src="@/assets/images/icons/document-text.svg"
              alt="Detail"
            >
            <p class="h-text-xs mb-0">Detail</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-1">
      <div class="card h-100">
        <div class="card-header mb-8 pb-0">
          <div class="d-flex align-items-center">
            <div class="first-card-header-text me-8 mb-0">
              Saldo Pending
            </div>
            <popover-info
              classprops="px-0"
              text="Saldo Pending merupakan saldo yang akan kamu terima ketika orderan yang statusnya dikirim telah berubah menjadi diterima."
            />
          </div>
          <b-button
              variant="flat-dark"
              class="btn-icon"
              size="sm"
              tag="router-link"
              :to="{ name: $route.meta.routeToOrder, query: { tab: 'dikirim' } }"
            >
            <img
              src="@/assets/images/icons/arrow-square-right.svg"
              alt="Arrow Right"
            >
          </b-button>
        </div>
        <div class="card-body h-text-xl pb-0 mb-0">
          {{ formatRupiah(saldoPending) }}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-1">
      <div class="card h-100">
        <div class="card-header mb-8 pb-0">
          <div class="d-flex align-items-center">
            <div class="first-card-header-text me-8 mb-0">
              Rekening Bank
            </div>
          </div>
        </div>
        <div
          v-if="JSON.stringify(this.rekening) !== JSON.stringify({})"
          class="card-body pb-0 mb-0"
        >
          <p class="h-text-md mt-1 mb-0">
            {{ rekening.nama }}
            <img
              src="@/assets/images/icons/arrow-down-light.svg"
              alt="Arrow Down"
              class="ml-1"
            >
          </p>
          <p class="h-text-xs mb-0">
            {{ `${rekening.bank} - ${rekening.noRek}` }}
          </p>
        </div>
        <div
          v-else
          class="card-body pb-0 mb-0"
        >
          <p class="h-text-md mt-1 mb-0">
            Rekening belum ada
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <div class="card">
        <div class="card-header mb-8 pb-0">
          <div class="h-text-lg">
            Riwayat Penarikan Saldo
          </div>
          <div class="d-flex justify-content-end">
            <date-range-picker
              ref="picker"
              v-model="dateRange"
              :locale-data="locale"
              :ranges="ranges"
              :opens="'left'"
              class="w-100 mr-1"
            >
              <template
                v-slot:input="picker"
                style="min-width: 350px"
              >
                <div
                  class="d-flex justify-content-between align-items-center"
                >
                  <span
                    class="mr-2"
                  >{{ formatDate(picker.startDate) }} -
                    {{ formatDate(picker.endDate) }}</span>
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8 2V5"
                      stroke="#222222"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M16 2V5"
                      stroke="#222222"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M3.5 9.08984H20.5"
                      stroke="#222222"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
                      stroke="#222222"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M15.6947 13.7002H15.7037"
                      stroke="#222222"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M15.6947 16.7002H15.7037"
                      stroke="#222222"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M11.9955 13.7002H12.0045"
                      stroke="#222222"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M11.9955 16.7002H12.0045"
                      stroke="#222222"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M8.29431 13.7002H8.30329"
                      stroke="#222222"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M8.29431 16.7002H8.30329"
                      stroke="#222222"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </template>
            </date-range-picker>
            <button
              class="btn btn-outline-primary"
              @click="$store.dispatch('saldo/exportSaldo')"
            >
              Export
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-borderless mt-3">
              <thead>
                <tr>
                  <th
                    v-for="title in tableTitles"
                    :key="title"
                    class="
                      h-text-sm
                      transform-none
                      h-text-dark
                      bg-white
                      h-border-bottom
                      pb-2
                    "
                    scope="col"
                  >
                    {{ title }}
                  </th>
                </tr>
              </thead>
              <tbody class="h-text-xs font-weight-bold">
                <tr
                  v-for="riwayat in riwayatPenarikans"
                  :key="riwayatPenarikans.indexOf(riwayat)"
                  :class="
                    'py-1' +
                      (riwayatPenarikans.indexOf(riwayat) !=
                        riwayatPenarikans.length - 1
                        ? ' border-bottom'
                        : '')
                  "
                >
                  <th>
                    <p class="mb-0 h-text-dark">
                      {{ riwayat.tanggal }}
                    </p>
                    <p class="mb-0">
                      {{ riwayat.jam }}
                    </p>
                  </th>
                  <td>
                    <p class="mb-0 h-text-dark">
                      {{ riwayat.tujuan.nama }} - {{ riwayat.tujuan.bank }}
                    </p>
                    <p class="mb-0">
                      {{ riwayat.tujuan.noRek }}
                    </p>
                  </td>
                  <td class="h-text-dark">
                    <div
                      v-if="riwayat.status==='completed'"
                      class="text-success"
                    >
                      Disetujui
                    </div>
                    <div
                      v-if="riwayat.status==='requested'"
                      class="text-warning"
                    >
                      Perlu Disetujui
                    </div>
                    <div
                      v-if="riwayat.status==='on_review'"
                      class="text-warning"
                    >
                      Sedang Direview
                    </div>
                    <div
                      v-if="riwayat.status==='rejected'"
                      class="text-danger"
                    >
                      Ditolak
                    </div>
                    <div
                      v-if="riwayat.status==='canceled'"
                      class="text-danger"
                    >
                      Dibatalkan
                    </div>
                  </td>
                  <!-- <td class="h-text-dark">
                    {{ formatRupiah(riwayat.saldo) }}
                  </td> -->
                  <td class="h-text-dark">
                    {{ formatRupiah(riwayat.jumlahPenarikan) }}
                  </td>
                  <!-- <td class="h-text-dark">
                    {{ riwayat.sisaSaldo == null ? '-' : formatRupiah(riwayat.sisaSaldo) }}
                  </td> -->
                  <td>
                    <a
                      :href="'/keuangan/saldo/rincian/' + riwayat.id"
                      class="text-info"
                    >
                      Lihat Detail
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <b-pagination
            v-model="table.currentPage"
            class="mt-2 float-right"
            :total-rows="table.totalRows"
            :per-page="table.perPage"
          />
        </div>
      </div>
    </div>
  </div>
  <b-modal
    id="modalTopUp"
    centered
    hide-header
    hide-footer
  >
    <a
      href="#"
      @click="closeModal()"
    >
      <img
        src="@/assets/images/icons/close-circle.svg"
        height="18"
        width="18"
        alt="close"
        class="float-right"
      >
    </a>
    <div class="p-1">
      <p class="text-center h-text-lg mb-2">
        Top Up Saldo
      </p>
    </div>
    <form id="formTopUp">
      <div class="row align-items-center my-2">
        <div class="col-4">
          <p class="font-weight-bold h-text-sm h-text-dark mb-0">
            Nominal
          </p>
        </div>
        <b-form-group
          class="col-8 mb-0"
          invalid-feedback="Nominal is required"
        >
          <b-form-input
            id="nominal-topup"
            v-model="nominalTopUp"
            type="tel"
            data-type="currency"
            required
            class="h-text-sm h-text-dark"
            @keyup="formatCurrency(false, 'nominal-topup')"
            @blur="formatCurrency(true, 'nominal-topup')"
          />
        </b-form-group>
      </div>
    </form>
    <b-row class="pb-1 justify-content-end mr-50 wrapper__action__topup">
      <button
        class="btn btn-outline-primary rounded-lg btn-icon mr-1"
        @click="$bvModal.hide('modalTopUp')"
      >
        Batal
      </button>
      <button
        class="btn btn-primary rounded-lg btn-icon"
        @click="topUpSaldo()"
      >
        <b-spinner v-if="loadingSubmitTopUp" small />
        Top Up Sekarang
      </button>
    </b-row>
  </b-modal>
  <b-modal
    id="modal-keuangan"
    body-class="p-1"
    hide-header
    hide-footer
    centered
    no-close-on-backdrop
    no-close-on-esc
  >
    <b-overlay
      variant="light"
      :show="loadingLoadDataWithdraw"
      spinner-variant="primary"
      blur="0"
      opacity=".5"
      rounded="sm"
    >
    <a href="#" @click="closeModal()">
      <img
        src="@/assets/images/icons/close-circle.svg"
        height="18"
        width="18"
        alt="close"
        class="float-right"
      />
    </a>
    <div class="p-1">
      <p id="modal-title" class="text-center h-text-lg mb-2">
        {{ modalTitle }}
      </p>
      <div v-if="stepNow === 0">
        <form
          ref="form1"
          class="row align-items-center justify-content-center"
          @submit.stop.prevent="handleSubmit(1)"
        >
          <div class="col-12 mb-50">
            <p class="h-text-sm h-text-dark mb-0">
              Nominal
            </p>
          </div>
          <b-form-group
            class="col-12 mb-1"
            invalid-feedback="Nominal is required"
            :state="nominalState"
          >
            <b-form-input
              id="nominal-input"
              v-model="nominal"
              type="tel"
              data-type="currency"
              required
              :placeholder="`minimal Rp10.000,-, maksimal Rp${formatPrice(maxValueWithdraw)},-`"
              :class="minWithdraw || isMaxWithdraw || isCheckSaldo ? 'h-text-sm h-text-dark not__valid__nominal__wrapper' : 'h-text-sm h-text-dark'"
              :state="nominalState"
              @keyup="formatCurrency(false, 'nominal-input')"
              @blur="formatCurrency(true, 'nominal-input')"
              @input="checkWithdraw"
            />
            <b-row v-if="minWithdraw" class="mt-50">
              <b-col cols="12">
                <small class="text-primary">*Minimal penarikan Rp10.000</small>
              </b-col>
            </b-row>
            <b-row v-if="isMaxWithdraw" class="mt-50">
              <b-col cols="12">
                <small class="text-primary">*Saldo kamu tidak mencukupi</small>
              </b-col>
            </b-row>
            <b-row v-if="isCheckSaldo" class="mt-50">
              <b-col v-if="idealBalance !== 0" cols="12">
                <small class="text-primary">*maksimal penarikan Rp{{ maxWithdraw }},-</small>
              </b-col>
              <b-col cols="12">
                <small class="text-black">Sisa saldo : <strong>Rp{{ remainingSaldo }},-</strong> misal ditarik</small>
              </b-col>
            </b-row>
          </b-form-group>
          <b-col v-if="isCheckSaldo" cols="12" class="mb-1">
            <div v-if="idealBalance !== 0" class="p-1 mb-2" style="background: #FFF2E2;">
            <small><strong>Maaf kami batasi maksimal penarikan akunmu agar nyisa saldo setidaknya sebesar <strong class="text-primary">Rp. {{ idealBalance }},-</strong> buat menghindari minus.</strong></small>
            </div>
            <div class="p-1" style="border-radius: 10px; border: dotted">
              <b-row>
                <b-col cols="12" class="mb-2">
                  <small>
                    <strong>
                      Angka ini didapat dari total nilai ongkir berangkat atas orderan yang sudah diputuskan RETUR namun barangnya <span class="text-black">belum sampai</span> ke gudangmu yakni <strong class="text-primary">-Rp. {{ potencyRetur }},-</strong> total tersebut kami sandingkan dengan total <span class="text-black">potensi pendapatanmu</span> yang akan diterima dari orderan yang berstatus <span class="text-black">DIKIRIM</span> yang pengirimannya sejauh ini belum ada problem yakni <strong class="text-success">Rp. {{ potencyIncome }},-</strong>.
                    </strong>
                  </small>
                    </b-col>
                  <b-col cols="12">
                  <small>
                    <strong>
                      Di Komship, enaknya tuh klo Retur barang <span class="text-black">udah balik</span> lagi ke gudang baru kita minuskan ongkir berangkat-nya, belum lagi bisa <span class="text-black">diclaim</span> pula.
                    </strong>
                  </small>
                </b-col>
            </b-row>
            </div>
          </b-col>
          <div class="col-12 mb-50">
            <p class="h-text-sm h-text-dark mb-0">
              Rekening Tujuan
            </p>
          </div>
          <b-form-group
            class="col-12 mb-1"
            invalid-feedback="Rekening tujuan is required"
            :state="rekTujuanState"
          >
            <v-select
              v-model="selectedRekTujuan"
              class="h-text-sm h-text-dark"
              label="text"
              :reduce="items => items.value"
              :options="rekTujuanOptions"
              @input="setRekening(selectedRekTujuan)"
            >
              <span v-if="rekTujuanOptions.length === 0" slot="no-options">
                Anda belum menambahkan rekening bank
              </span>
            </v-select>
          </b-form-group>
          <b-col cols="12" class="align-self-start">
            <span class="text-black">Pastikan Rekening yang kamu pilih sudah benar</span>
          </b-col>
          <b-row class="justify-content-center w-full mt-2">
            <b-col cols="6">
              <b-button
                type="button"
                variant="outline-primary"
                block
                @click="closeModal()"
              >
                Batal
              </b-button>
            </b-col>
            <b-col cols="6">
              <b-button
                type="submit"
                variant="primary"
                block
                :disabled="validateWithdraw()"
              >
                Ajukan Penarikan
              </b-button>
            </b-col>
          </b-row>
        </form>
      </div>
      <div v-if="stepNow === 1">
        <form ref="form2" @submit.stop.prevent="handleSubmit(2)">
          <p class="text-center h-text-dark font-weight-bold mb-2">
            Mohon verifikasi identitas kamu dengan memasukan PIN
          </p>
          <b-row class="justify-content-center mb-1">
            <CodeInput
              v-model="pin"
              :loading="false"
              class="input"
              :type="visibilityPin"
              @change="onChange"
              @complete="onComplete"
            />
          </b-row>

          <b-col class="d-flex justify-content-center">
            <b-button
              variant="flat-primary"
              class="btn-icon"
              @click="toggleVisibilityPin"
            >
              Tampilkan
            </b-button>
          </b-col>

          <div class="col-12 mt-2">
            <div class="text-center">
              <button
                type="submit"
                value="Submit"
                class="btn btn-primary d-block m-auto"
                :class="isDisableSubmitWithdraw ? 'btn btn-primary d-block m-auto cursor-not-allowed' : 'btn btn-primary d-block m-auto'"
                :disabled="isDisableSubmitWithdraw"
              >
               <b-spinner v-if="loadingConfirmationPin" small />
                Konfirmasi
              </button>
              <button
                type="button"
                class="btn btn-link mt-1"
                @click="modalBack()"
              >
                Kembali
              </button>
            </div>
          </div>
        </form>
      </div>
      <div v-if="stepNow === 2 && status === true" class="text-center">
        <b-row class="justify-content-center">
          <img
            src="@/assets/images/icons/success.svg"
            alt="success"
            class="text-center"
          />
        </b-row>
        <p class="mt-2 h-text-md text-center">
          Penarikan Saldo Berhasil
        </p>
        <p class="h-text-dark font-weight-bold">
          Saldo sebesar {{ nominal }} akan segera dikirim ke rekening atas
          nama {{ rekening.nama }} - {{ rekening.bank }} dalam 1x24 jam
        </p>
      </div>
      <div v-if="stepNow === 2 && status === false" class="text-center">
        <b-row class="justify-content-center">
          <img
            src="@/assets/images/icons/fail.svg"
            alt="fail"
            class="text-center"
          />
        </b-row>
        <p class="mt-2 h-text-md text-center">
          Penarikan Saldo Gagal
        </p>
        <p class="h-text-dark font-weight-bold">
          Maaf, kamu tidak dapat melakukan penarikan saldo dikarenakan nominal
          penarikan melebihi saldo utama anda.
        </p>
      </div>
    </div>
    </b-overlay>
  </b-modal>

  <!-- Modal After TopUp -->
  <b-modal
    ref="modal-after-topup"
    hide-footer
    hide-header
    centered
  >
    <div class="modal-add-pickup-popup-success">
      <b-row class="justify-content-center mb-1 pt-1">
        <img src="@/assets/images/icons/warning.svg">
      </b-row>
      <b-row class="text-center px-2 mb-1">
        <p>
          Silahkan selesaikan pembayaran terlebih dahulu untuk memastikan proses Top Up Saldo Berhasil
        </p>
      </b-row>
      <b-row class="justify-content-center mb-1">
        <h5 class="text-black text-center">
          <strong>
            Sudah menyelesaikan pembayaran?
          </strong>
        </h5>
      </b-row>
      <b-row class="justify-content-center pb-1">
        <b-button
          class="org-button text-center"
          variant="primary"
          tag="router-link"
          :to="{ name: $route.meta.routeToRincianSaldo }"
        >
          Cek Rincian Saldo
        </b-button>
      </b-row>
    </div>
  </b-modal>

  <b-modal id="modal-notif-rekTujuanBlmAda" hide-footer hide-header centered>
    <div class="modal-add-pickup-popup-success">
      <b-row class="justify-content-center mb-1 pt-1">
        <img src="@/assets/images/icons/warning.svg" />
      </b-row>
      <b-row class="text-center px-4 mb-1">
        <p>
          Maaf, kamu belum menambahkan rekening untuk penarikan saldo.
        </p>
      </b-row>
      <b-row class="justify-content-center pb-1">
        <b-button
          class="org-button text-center"
          variant="primary"
          tag="router-link"
          :to="{ name: 'kompship-rekening-bank' }"
        >
          Tambah Rekening
        </b-button>
      </b-row>
    </div>
  </b-modal>
</div>
