.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}
.detail-value {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .detail-value {
    justify-content: start;
  }
}