@import '@core/scss/vue/libs/vue-flatpicker.scss';
.growth{
  &__container {
    padding: 30px 30px 40px 30px;
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #222222;
    margin: 0px;
  }
  &__flatpickr {
    background-color: #F1F2F6 !important;
    border-radius: 8px;
    border: none;
  }
  &__inputsearch {
    height: 56px;
    // border: 1px solid #C4C4C4;
    // border-radius: 12px;
    width: 340px;
    max-width: 340px;
  }
}
.cell__custom {
  min-width: 150px !important; 
  text-transform: capitalize;
}
.tbl__fullname{
  display: flex;
  align-items: center;

  &content {
    max-width: 200px;
    width: 200px;
    word-wrap: anywhere;
    display: grid;
  }
  &phone {
    width: 200px;
    height: 100%;
    padding: 0px 1rem;
  }
}

.btn-custom{
  border-radius: 16px;
  width: 56px;
  height: 56px;

  &--edit{
    width: 178px;
    height: 56px;
    border-radius: 12px;
  }
  &--editakseslayanan{
    height: 56px;

    &btn{
      width: 178px;
      height: 56px;
    }
  }
}