.data-order-header-wrapper {
  position: relative;
  margin: 0 0 18px;
}
.data-order-header-wrapper .card-title {
  color: #222222;
  font-weight: 600;
  font-size: 24px;
}
.data-order-floating-dropdon {
  border: 1.5px solid #F95031;
}
.data-order-floating-button-wrapper {
  display: inline-flex;
  font-weight: 600;
  font-size: 14px;
}
.header-button {
  padding: 8px 16px;
}
.mid-part {
  margin: 0 32px;
}
.data-order-nav-wrapper {
  font-weight: 600;
  font-size: 20px;
  padding-left: 5.66%;
}
.data-order-nav-item {
  margin-right: 8px;
  position: relative;
  width: calc(100% / 5 - 15px);
}
.data-order-nav-item div {
  display: inline-block;
  vertical-align: middle;
}
.data-order-nav-item .tag-item {
  padding: 2px 3px;
  background-color: #FFECE9;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  color: #F95031;
  position: absolute;
  right: 0;
}
.data-order-nav-item .active div {
  color: #F95031 !important;
}
.data-order-filter-wrapper {
  display: flex;
  justify-content: flex-end;
}
.data-order-filter-wrapper .search-bar {
  position: relative;
  width: 29.62%;
  border-radius: 12px;
}
.data-order-filter-wrapper .search-input {
  padding: 16px 14px 16px 56px;
  height: fit-content;
  border-radius: 12px;
}
.icon-magnify-glass {
  font-size: 24px;
  margin: 9px 16px;
  position: absolute;
  left: 0;
  top: 0;
}
.data-order-filter-wrapper .search-bar, .data-order-filter-wrapper .filter-button {
  display: inline-block;
  margin-left: 1.742%;
}
.filter-button {
  font-size: 19px;
  padding: 1.22%;
  border-radius: 16px;
}

.view-data-order-table {
  border-bottom: 1px solid #E2E2E2;
}
.view-data-order-table tr th {
  border: none;
  background-color: transparent !important;
  border-bottom: 2px solid #C2C2C2;
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  padding: 20px 20px 20px 0;
  text-align: left;
}

.transparent-button, .transparent-button:focus {
  color: #000000 !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 8px;
  box-shadow: none;
}
.transparent-button:hover, .org-button:hover, .white-button:hover, .minmax-button-wrapper:hover {
  cursor: pointer;
  opacity: 0.8;
}
.org-button, .org-button:focus {
  background-color: #F95031 !important;
  border-color: #F95031 !important;
  color: #FFFFFF !important;
  border-radius: 8px;
}
.white-button, .white-button:focus {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #F95031 !important;
  border-radius: 8px;
}
.no-mg {
  margin: 0 !important;
}

.view-data-order-table tr {
  position: relative;
}
.view-data-order-table td {
  padding: 0.72rem 2rem 0.72rem 0;
  color: #222222;
  font-weight: 600;
  font-size: 14px;
}
.date-wrapper {
  width: 124px;
}
.grey-text {
  font-weight: 500;
  color: #828282;
}
.org-text {
  font-size: 16px;
  color: #F95031;
}
.name-wrapper {
  width: 135px;
}
.product-item-wrapper {
  width: 279px;
  margin: 0 0 20px;
}
.product-name-img-wrapper, .product-name-wrapper, .product-name-content, .product-name-qty {
  display: inline-block;
  vertical-align: top;
}
.product-name-img-wrapper {
  width: 60px;
  height: 60px;
  background-color: grey;
  margin-right: 12px;
}
.product-name-img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
}
.product-name-wrapper {
  width: 207px;
}
.product-name-content {
  width: 187px;
}
.product-name-qty {
  width: 20px;
}
.price-wrapper {
  width: 159px;
}
.address-wrapper {
  width: 172px;
}
.details-wrapper {
  width: 85px;
}
.resi-wrapper {
  width: 152px;
}
.resi-content, .resi-content-icon, .label-wrapper, .tooltip-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.resi-content {
  width: calc(100% - 26px);
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.resi-content-icon {
  font-size: 20px;
  margin-left: 6px;
  width: fit-content;
  color: #F95031;
}
.resi-content-icon:hover, .tooltip-wrapper:hover, .details-wrapper button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.details-wrapper button, .details-wrapper button:hover, .details-wrapper button:focus {
  border: none !important;
  padding: 0;
  background-color: transparent !important;
}
.details-wrapper .btn-outline-primary, .details-wrapper .btn-outline-primary:hover, .details-wrapper .btn-outline-primary:focus {
  color: #08A0F7 !important;
}
.label-wrapper {
  color: #F95031;
  font-size: 16px;
  font-weight: 600;
}
.tooltip-wrapper {
  color: #08A0F7;
  font-size: 20px;
  margin-left: 6px;
}
.minmax-button-wrapper {
  text-align: right;
}
.data-order-table-pop-over label {
  color: #828282;
  font-weight: 500;
  font-size: 12px;
}
.data-order-table-pop-over div {
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}

.data-order-detail-wrapper {
  position: relative;
  color: #222222;
}
.data-order-detail-wrapper .card-title {
  font-size: 24px;
  color: #222222;
}
.delete-button {
  width: fit-content;
}
.data-order-detail-content {
  padding: 0 5.84%;
}
.data-order-detail-section {
  border: 1px solid #C2C2C2;
  padding: 30px;
  position: relative;
}
.data-order-detail-title-wrapper {
  font-weight: 600;
  font-size: 20px;
  margin: 30px 0;
}
.data-order-detail-label label {
  font-weight: 300;
  font-size: 18px;
}
.data-order-detail-label .col, .data-order-detail-label-small .col {
  display: flex;
  align-items: center;
  color: #222222;
}
.data-order-detail-text, .info-detail-data-order {
  font-weight: 500;
  font-size: 18px;
}
.data-order-detail-text .badge {
  padding: 6px 36px;
}
.data-order-detail-profile {
  display: flex;
  align-items: center;
}
.data-order-detail-profile-img {
  display: inline-flex;
  width: 60px;
  height: 60px;
  background-color: #DFE6ED;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.data-order-detail-profile-img .b-icon {
  font-size: 30.76px;
  color: #9EADBA;
  display: block;
}
.data-order-detail-profile-text {
  margin-left: 12px;
  font-weight: 600;
  color: #222222;
}
.data-order-detail-profile-name {
  font-size: 20px;
}
.data-order-detail-profile-number {
  font-size: 18px;
}
.data-order-detail-status {
  font-weight: 600;
  font-size: 18px;
}

.summary-data-order-detail-wrapper {
  max-width: 655px;
  padding: 0 0 20px;
  margin-left: auto;
}
.data-order-detail-label-small label {
  color: #828282;
  font-size: 16px;
  font-weight: 300;
}
.data-order-detail-label-small .col {
  color: #222222;
  font-weight: 600;
  font-size: 16px;
  justify-content: flex-end;
}
.summary-text {
  font-weight: 600;
  font-size: 24px;
  border-top: 1px solid #E2E2E2;
}
.summary-text label, .summary-text .col div {
  font-weight: 600;
  font-size: 24px;
  padding-top: 20px;
}
.summary-text label {
  color: #222222;
}

#modal-3___BV_modal_content_ .modal-header {
  display: flex;
  justify-content: center;
  position: relative;
}
#modal-3___BV_modal_content_ .modal-header .modal-title {
  color: #222222;
  font-weight: 600;
  font-size: 24px;
}
#modal-3___BV_modal_content_ .modal-header .close {
  margin: 0;
  position: absolute;
  top: 0.8rem;
  right: 1.4rem;
}
.data-order-modal-input-label label {
  color: #222222;
  font-weight: 600;
  font-size: 16px;
}
.data-order-modal-input-label .col {
  max-width: 294px;
}
.data-order-modal-input-label .col input {
  color: #222222;
  font-weight: 500;
  font-size: 14px;
}
#modal-3___BV_modal_content_ .modal-footer .btn-secondary {
  background-color: #FFFFFF !important;
  border-radius: 12px;
  color: #F95031 !important;
  border-color: #F95031 !important;
}
#modal-3___BV_modal_content_ .modal-footer .btn-primary {
  background-color: #F95031 !important;
  border-radius: 12px;
  color: #FFFFFF !important;
  border-color: #F95031 !important;
}
.modal-resi-danger-text {
  color: #E31A1A;
  font-weight: 500;
  font-size: 14px;
}
.resi-receipt-modal-popup-wrapper {
  margin: 5px 0 24px;
}
#modal-3___BV_modal_content_ .data-order-detail-label label, #modal-3___BV_modal_content_ .data-order-detail-label .data-order-detail-text {
  font-size: 16px;
}
#modal-4___BV_modal_content_ .modal-body {  
  min-height: 352px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-add-order-popup-success .image-wrapper {
  width: 100%;
  margin: 0 0 20px;
  text-align: center;
}
.modal-add-order-popup-success .image-wrapper img {
  width: 150px;
  display: block;
  margin: 0 auto;
}
.modal-add-order-popup-success .text-wrapper {
  font-weight: 600;
  font-size: 20px;
  color: #222222;
  width: 100%;
}

.top-right {
  position: absolute;
  // top: 1.5rem;
  top: 0;
  right: 1.5rem;
}
.sm-gap-r {
  margin-right: 16px;
}
