@import '@core/scss/vue/libs/vue-select.scss';
.btn-custom {
    border-radius: 8px;
    width: 40px;
    align-items: center !important;
    height: 40px;
    text-align: center !important;
    padding: 2px !important;

    &--edit {
        width: 178px;
        height: 40px;
        border-radius: 8px;
    }

    &--editakseslayanan {
        height: 40px;

        &btn {
            width: 178px;
            height: 56px;
        }
    }
}

.choiceTypeVehicle {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-row-gap: 10px;
    width: 70px;
    height: 70px;
    border: 1px solid #828282;
    border-radius: 12px;
    cursor: pointer;
}

.activeChoice {
    box-shadow: 0px 1px 10px 9px rgba(252, 212, 190, 1);
    -webkit-box-shadow: 0px 1px 10px 9px rgba(252, 212, 190, 1);
    -moz-box-shadow: 0px 1px 10px 9px rgba(252, 212, 190, 1);
    border: 1px solid #F95031;
}