.title {
  color: #222222;
  font-weight: bold;
  font-size: 17.5px;
}
.history {
  padding: 2em;
  background: #FFFFFF;
  border: 2px solid #e2e2e2;
  border-radius: 10px;
  max-height: 70vh;
  overflow: auto;

  &-right {
    // float: right;
    margin-top: 1em;
    margin-left: 57em;
    &-card {
      background: #ff6a3a;
      border-radius: 8px 0px 8px 8px;
      padding: 1em;
      color: white;
      text-align: center;
    }
  }

  &-left {
    margin-bottom: 1.5em;
    &-card {
      background: #fcd4be;
      border-radius: 0px 8px 8px 8px;
      padding: 1em;
      width: 33%;
      color: #222222;
    }
  }
  .time {
    color: #222222;
    font-size: 12px;
  }
}

@media screen and(min-width: 320px) and (max-width: 768px) {
  .history-left-card {
    width: auto;
  }
  .history-right {
    margin-top: 1em;
    margin-left: 0;
  }
}

@media screen and(min-width: 789px) and (max-width: 1024px) {
  .history-left-card {
    width: 50%;
  }
  .history-right {
    margin-top: 1em;
    margin-left: 30em;
  }
}
