@import '~@core/scss/vue/libs/vue-select.scss';
[dir] .wrapper__table__ticket {
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.title {
  color: #222222;
  font-size: 20px;
  font-weight: 500;
}
.cardShipping {
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  padding: 1em;
  > p {
    font-weight: 500;
    color: #222222;
  }
  .bi-arrow-up {
    color: #34a770;
    font-size: 1.5em;
  }
  .bi-arrow-down {
    color: #e31a1a;
    font-size: 1.5em;
  }
  &-indicatior {
    display: flex;
    align-items: center;
    &-time {
      padding-left: 2em;
      &-top {
        color: #222222;
        font-size: 1.2em;
      }
    }
  }
}
