<div class="container p-0">
  <h1 class="mb-2 h-text-xl">
    Informasi Penghasilan
  </h1>
  <b-row class="justify-content-between">
    <b-col
      md="3"
      class="mb-1"
    >
      <div class="card h-100">
        <div class="card-header mb-8 pb-0">
          <div class="d-flex align-items-center">
            <div class="first-card-header-text me-8 mb-0">
              Penghematan Ongkir
            </div>
          </div>
        </div>
        <div class="card-body pb-0 mb-0">
          <div class="h-text-xl pb-0 mb-0">
            {{ formatRupiah(cashback) }}
          </div>
          <p class="mb-0">
            Total diskon ongkir yang kamu dapatkan semenjak menggunakan Komship
          </p>
        </div>
      </div>
    </b-col>
    <b-col
      md="3"
      class="mb-1"
    >
      <div class="card h-100">
        <div class="card-header mb-8 pb-0">
          <div class="first-card-header-text me-8 mb-0">
            Penghasilan
            <div class="d-flex align-items-center">
              <p class="mb-0">
                7 Hari Terakhir
              </p>
              <popover-info
                :classprops="'px-0'"
                :styleimgprops="{ maxWidth: '24px', width: '24px', height: '24px' }"
                text="Akumulasi penghasilan 7 hari terakhir."
              />
            </div>
          </div>
        </div>
        <div class="card-body h-text-lg pb-0 mt-2 mb-0">
          {{ formatRupiah(penghasilan7Hari) }}
        </div>
      </div>
    </b-col>
    <b-col
      md="3"
      class="mb-1"
    >
      <div class="card h-100">
        <div class="card-header mb-8 pb-0">
          <div class="first-card-header-text me-8 mb-0">
            Penghasilan
            <div class="d-flex align-items-center">
              <p class="mb-0">
                30 Hari Terakhir
              </p>
              <popover-info
                :classprops="'px-0'"
                :styleimgprops="{ maxWidth: '24px', width: '24px', height: '24px' }"
                text="Akumulasi penghasilan dalam 30 hari terakhir."
              />
            </div>
          </div>
        </div>
        <div class="card-body h-text-lg pb-0 mt-2 mb-0">
          {{ formatRupiah(penghasilan30Hari) }}
        </div>
      </div>
    </b-col>
    <b-col
      md="3"
      class="mb-1"
    >
      <div class="card h-100">
        <div class="card-header mb-8 pb-0">
          <div class="first-card-header-text me-8 mb-0">
            Penghasilan
            <div class="d-flex align-items-center">
              <p class="mb-0">
                Total
              </p>
              <popover-info
                :styleimgprops="{ maxWidth: '24px', width: '24px', height: '24px' }"
                :classprops="'px-0'"
                text="Akumulasi total penghasilan yang didapatkan."
              />
            </div>
          </div>
        </div>
        <div class="card-body h-text-lg pb-0 mt-2 mb-0">
          {{ formatRupiah(penghasilanTotal) }}
        </div>
      </div>
    </b-col>
  </b-row>
  <div class="row mt-2">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="h-text-lg">
            Rincian Penghasilan
          </div>

            <div class="d-flex justify-content-end w-50 wrapper__rincian__penghasilan__desktop">
              <b-form-group class="w-25 mb-0 mr-1">
                <v-select
                  v-model="selectedPenghasilan"
                  label="Komship"
                  dir="ltr"
                  :options="optionsPenghasilan"
                  :clearable="false"
                  @input="handleChangePenghasilan"
                />
              </b-form-group>
              <date-range-picker
                ref="picker"
                v-model="dateRange"
                :locale-data="locale"
                :ranges="ranges"
                :opens="'left'"
                class="w-50"
                @input="handleChangePenghasilan"
              >
                <template
                  v-slot:input="picker"
                  style="min-width: 350px"
                >
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span>{{ formatDate(picker.startDate) }} -
                      {{ formatDate(picker.endDate) }}</span>
                  </div>
                </template>
              </date-range-picker>
            </div>
        </div>
        <div class="wrapper__rincian__penghasilan__mobile text-right">
          <b-row class="justify-content-end wrapper__rincian__penghasilan__mobile mr-50">
            <b-col md="12">
              <b-form-group>
                <v-select
                  v-model="selectedPenghasilan"
                  label="Komship"
                  dir="ltr"
                  :options="optionsPenghasilan"
                  :clearable="false"
                  @input="handleChangePenghasilan"
                />
              </b-form-group>
            </b-col>
            <b-col md="12" class="text-right">
              <date-range-picker
                ref="picker"
                v-model="dateRange"
                :locale-data="locale"
                :ranges="ranges"
                :opens="'left'"
                @input="handleChangePenghasilan"
              >
                <template
                  v-slot:input="picker"
                  style="min-width: 350px"
                >
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span>{{ formatDate(picker.startDate) }} -
                      {{ formatDate(picker.endDate) }}</span>
                  </div>
                </template>
              </date-range-picker>
            </b-col>
          </b-row>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6 pr-0">
              <p class="h-text-xl">
                COD
              </p>
              <ChartPenghasilan
                :datasets="incomeCODGraph.datasets"
                :labels="incomeCODGraph.labels"
                :height="300"
              />
            </div>
            <div class="col-12 col-md-6 row px-0">
              <div class="col-12 h-5-5" />
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Orderan COD
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Orderan COD merupakan presentase perbandingan jumlah order antara metode pembayaran COD dengan Transfer Bank."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ dataCod.orderan }}%
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Orderan Sukses
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Presentase orderan dengan status diterima, dari seluruh orderan."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ dataCod.sukses }}%
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Orderan Retur
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Presentase orderan dengan status retur dari seluruh orderan."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ dataCod.retur }}%
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Penghasilan Kotor
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi penghasilan kotor."
                    />
                  </div>
                  <div class="info-card-body-text text-orange">
                    {{ formatRupiah(dataCod.pKotor) }}
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Penghasilan Bersih
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi penghasilan bersih."
                    />
                  </div>
                  <div class="info-card-body-text text-blue">
                    {{ formatRupiah(dataCod.pBersih) }}
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Cashback Ongkos Kirim
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi perolehan cashback ongkos kirim yang diperoleh."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ formatRupiah(dataCod.cashbackOngkir) }}
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Ongkos Kirim
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi nilai ongkos kirim kotor (tanpa cashback)."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ formatRupiah(dataCod.ongkir) }}
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Ongkos Kirim Bersih
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi nilai ongkos kirim bersih (setelah cashback)."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ formatRupiah(dataCod.ongkirBersih) }}
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Biaya COD
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi seluruh Biaya COD dari setiap transaksi COD."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ formatRupiah(dataCod.biayaCod) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-md-6 pr-0">
              <p class="h-text-xl">
                Transfer Bank
              </p>
              <ChartPenghasilan
                :datasets="incomeTransferGraph.datasets"
                :labels="incomeTransferGraph.labels"
                :height="300"
              />
            </div>
            <div class="col-12 col-md-6 row px-0">
              <div class="col-12 h-5-5" />
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Orderan Transfer Bank
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Orderan Transfer Bank merupakan presentase perbandingan jumlah order antara metode pembayaran Transfer Bank dengan COD."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ dataTransfer.orderan }}%
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Orderan Sukses
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Presentase orderan dengan status diterima, dari seluruh orderan."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ dataTransfer.sukses }}%
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Orderan Retur
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Presentase orderan dengan status retur dari seluruh orderan.Akumulasi penghasilan kotor."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ dataTransfer.retur }}%
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Penghasilan Kotor
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi penghasilan kotor."
                    />
                  </div>
                  <div class="info-card-body-text text-orange">
                    {{ formatRupiah(dataTransfer.pKotor) }}
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Penghasilan Bersih
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi penghasilan bersih."
                    />
                  </div>
                  <div class="info-card-body-text text-blue">
                    {{ formatRupiah(dataTransfer.pBersih) }}
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Cashback Ongkos Kirim
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi perolehan cashback ongkos kirim yang diperoleh."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ formatRupiah(dataTransfer.cashbackOngkir) }}
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Ongkos Kirim
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi nilai ongkos kirim kotor (tanpa cashback)."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ formatRupiah(dataTransfer.ongkir) }}
                  </div>
                </div>
              </div>
              <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Ongkos Kirim Bersih
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi nilai ongkos kirim bersih (setelah cashback)."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ formatRupiah(dataTransfer.ongkirBersih) }}
                  </div>
                </div>
              </div>
              <!-- <div class="col-4 pr-0 h-color-dark mb-1">
                <div class="border rounded-16 h-100 p-1">
                  <div class="d-flex flex-nowrap align-items-start">
                    <div class="info-card-header-text">
                      Biaya COD
                    </div>
                    <popover-info
                      :classprops="'px-0 py-0'"
                      :styleimgprops="styleImgPopover"
                      text="Akumulasi seluruh Biaya COD dari setiap transaksi COD."
                    />
                  </div>
                  <div class="info-card-body-text">
                    {{ formatRupiah(dataTransfer.biayaCod) }}
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
