<b-row>
  <b-col
    cols="6"
    class="wrapper-kompship-register"
  >
    <b-navbar-brand class="ml-4 mt-1">
      <b-img
        src="@/assets/images/logo/logo-komship-by-komerce.svg"
        width="150"
      />
    </b-navbar-brand>
    <b-col
      md="12"
      class="pt-5 mt-3"
    >
      <b-col class="ml-3">
        <h3 class="ml-5 mb-2 register-title text-black">
          {{ serviceIsKomship === true ? 'Daftar Komship' : 'Daftar' }}
        </h3>

        <b-row :class="modeNewUser === true ? '' : 'd-none'">
          <validation-observer
            ref="loginForm"
            #default="{invalid}"
          >
            <b-form
              class="ml-5"
              @submit.prevent="register"
            >
              <b-row>

                <!-- full name -->
                <b-col
                  cols="9"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Nama Lengkap"
                    rules="required"
                  >
                    <b-form-input
                      id="fullname"
                      v-model="fullname"
                      class="bg-light"
                      :state="errors.length > 0 || submitErrors.fullname ? false:null"
                      name="fullname"
                      required
                      @input="resetValidationUsername"
                    />
                    <label for="fullname">
                      Nama Lengkap
                    </label>
                    <small class="text-primary"> {{ errors[0] }} </small>
                    <small
                      v-if="usernameTaken"
                      class="text-primary"
                    >
                      {{ usernameTaken }}
                    </small>
                  </validation-provider>
                </b-col>

                <!-- Nomer -->
                <b-col
                  cols="9"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Nomor Handphone"
                    rules="required"
                  >
                    <b-form-input
                      id="nomorhp"
                      v-model="nomorHandphone"
                      class="bg-light"
                      :state="errors.length > 0 || submitErrors.fullname ? false:null"
                      name="nomorhp"
                      type="number"
                      required
                      @input="validateNoHp"
                    />
                    <label for="fullname">
                      Nomor Handphone
                    </label>
                    <b-row>
                      <b-col>
                        <small class="text-primary"> {{ errors[0] }} </small>
                      </b-col>
                    </b-row>
                    <small class="text-primary"> {{ messageValidateNo !== '' ? messageValidateNo : '' }} </small>
                  </validation-provider>
                </b-col>

                <!-- email -->
                <b-col
                  cols="9"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Email"
                    rules="required|email"
                  >
                    <b-form-input
                      id="emailUser"
                      v-model="userEmail"
                      class="bg-light"
                      :state="errors.length > 0 || submitErrors.email ? false:null"
                      required
                      @input="resetValidationEmail"
                    />
                    <label for="emailUser">
                      Email
                    </label>
                    <small class="text-primary"> {{ errors[0] }} </small>
                    <small
                      v-if="emailTaken"
                      class="text-primary"
                    >
                      {{ emailTaken }}
                    </small>
                  </validation-provider>
                </b-col>

                <!-- password -->
                <b-col
                  cols="9"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{errors}"
                    name="Password"
                    vid="password"
                    rules="required"
                  >
                    <b-form-input
                      id="password"
                      v-model="userPassword"
                      class="bg-light"
                      :type="passwordFieldTypePassword"
                      :state="errors.length > 0 ? false:null"
                      required
                      @input="validPassword"
                    />
                    <label for="password">Password</label>
                    <feather-icon
                      :icon="passwordToggleIconPassword"
                      class="icon-password"
                      @click="togglePasswordVisibilityPassword"
                    />
                    <small
                      class="text-primary"
                    >{{ errors[0] }}
                    </small>
                    <small
                      class="text-primary"
                    >{{ errorCharPassword }}
                    </small>
                  </validation-provider>
                </b-col>
                <b-col
                  cols="9"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{errors}"
                    name="Konfirmasi Password"
                    vid="password"
                    rules="required"
                  >
                    <b-form-input
                      id="confirm-password"
                      v-model="confirmPassword"
                      :class="confirmPassword !== confirmPassword ? 'is-invalid' : 'bg-light'"
                      :type="passwordFieldTypeConfirmPassword"
                      :state="errors.length > 0 || submitErrors.password ? false:null"
                      required
                    />
                    <label for="confirm-password">Confirm Password</label>
                    <feather-icon
                      :icon="passwordToggleIconConfirmPassword"
                      class="icon-password"
                      @click="togglePasswordVisibilityConfirmPassword(togglePasswordVisibility)"
                    />
                    <small class="text-primary">{{ errors[0] }}</small>
                  </validation-provider>

                  <b-form-group v-if="confirmPassword !== userPassword">
                    <small class="text-primary">*Pastikan konfirmasi password sama dengan password sebelumnya</small>
                  </b-form-group>
                </b-col>

                <!-- checkbox -->
                <b-col cols="12">
                  <b-form-group>
                    <validation-provider
                      #default="{errors}"
                      rules="required"
                    >
                      <b-form-checkbox
                        v-model="agree"
                        :state="errors.length > 0 || submitErrors.agree ? false:null"
                        required
                      >
                        <p class="text-black">
                          Saya setuju dengan
                          <a
                            href="https://komship.id/terms"
                            target="_blank"
                            class="text-black underline decoration-1"
                          >
                            syarat dan ketentuan Komship
                          </a>
                        </p>
                      </b-form-checkbox>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <!-- submit -->
                <b-col
                  cols="12"
                  class="px-0"
                >
                  <b-col md="7">
                    <div class="demo-inline-spacing">
                      <b-button
                        type="submit"
                        variant="primary"
                        block
                        :disabled="invalid || agree === false || confirmPassword !== userPassword || userPassword.length < 8 || nomorHandphone.length < 8"
                      >
                        <b-spinner
                          v-if="loading"
                          small
                        />
                        Daftar
                      </b-button>
                    </div>
                  </b-col>
                </b-col>
              </b-row>
            </b-form>
          </validation-observer>
        </b-row>

        <!-- Existing User -->
        <b-row :class="modeExistingUser === true ? '' : 'd-none'">
          <validation-observer
            ref="loginFormExisting"
            #default="{invalid}"
          >
            <b-form
              class="ml-5"
              @submit.prevent="registerExisting"
            >
              <b-row>

                <!-- email -->
                <b-col
                  cols="9"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Email"
                    rules="required|email"
                  >
                    <b-form-input
                      id="emailUser"
                      v-model="userEmailExisting"
                      class="bg-light"
                      :state="errors.length > 0 || submitErrors.email ? false:null"
                      required
                      @input="resetValidationEmail"
                    />
                    <label for="emailUser">
                      Email
                    </label>
                    <small class="text-primary"> {{ errors[0] }} </small>
                    <b-row class="mt-50">
                      <b-col>
                        <div v-if="serviceIsKomship === false">
                          <small>
                            Akun Kamu telah terdaftar di layanan Komerce <strong>{{ serviceTitle }}</strong>.
                          </small>
                          <br>
                          <small>
                            Cukup gunakan email yang sama dengan layanan yang pernah kamu pakai untuk melanjutkan pendaftaran
                          </small>
                        </div>
                        <div v-else>
                          <small>
                            Akun Kamu telah terdaftar di layanan Komerce Komship.
                            Silahkan "Masuk" untuk melanjutkan.
                          </small>
                        </div>
                      </b-col>
                    </b-row>
                  </validation-provider>
                </b-col>

                <!-- checkbox -->
                <b-col
                  cols="12"
                  :class="serviceIsKomship === true ? 'd-none' : ''"
                >
                  <b-form-group>
                    <validation-provider
                      #default="{errors}"
                      rules="required"
                    >
                      <b-form-checkbox
                        v-model="agree"
                        :state="errors.length > 0 || submitErrors.agree ? false:null"
                        required
                      >
                        <p class="text-black">
                          Saya setuju dengan
                          <a
                            href="https://komship.id/terms"
                            target="_blank"
                            class="text-black underline decoration-1"
                          >
                            syarat dan ketentuan Komship
                          </a>
                        </p>
                      </b-form-checkbox>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <!-- submit -->
                <b-col
                  cols="12"
                  class="px-0"
                >
                  <b-col md="7">
                    <div
                      v-if="serviceIsKomship === false"
                      class="demo-inline-spacing"
                    >
                      <b-button
                        type="submit"
                        variant="primary"
                        block
                        :disabled="invalid || agree === false"
                      >
                        <b-spinner
                          v-if="loading"
                          small
                        />
                        Daftar
                      </b-button>
                    </div>
                    <div v-else>
                      <b-button
                        variant="primary"
                        block
                        tag="router-link"
                        :to="{name:'auth-login'}"
                      >
                        <b-spinner
                          v-if="loading"
                          small
                        />
                        Masuk
                      </b-button>
                    </div>
                  </b-col>
                </b-col>
              </b-row>
            </b-form>
          </validation-observer>
        </b-row>

      </b-col>
    </b-col>
  </b-col>
  <b-col
    cols="6"
    class="wrapper-preview-dashboard-kompship d-flex justify-content-center align-items-center"
  >
    <b-img
      src="@core/assets/image/prev-dash.png"
    />
  </b-col>

  <!-- Mobile -->
  <b-col
    cols="12"
    class="wrapper-register-mobile bg-white h-screen"
  >
    <b-navbar-brand class="mt-1">
      <b-img
        src="@/assets/images/logo/logo-komship-by-komerce.svg"
        width="150"
      />
    </b-navbar-brand>
    <b-col
      md="12"
      class="pt-5"
    >
      <b-col class="">
        <h3 class="mb-2 register-title">
          Daftar
        </h3>

        <b-row :class="modeNewUser === true ? '' : 'd-none'">
          <validation-observer
            ref="loginForm"
            #default="{invalid}"
          >
            <b-form
              class=""
              @submit.prevent="register"
            >
              <b-row>

                <!-- full name -->
                <b-col
                  cols="12"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Nama Lengkap"
                    rules="required"
                  >
                    <b-form-input
                      id="fullname"
                      v-model="fullname"
                      class="bg-light"
                      :state="errors.length > 0 || submitErrors.fullname ? false:null"
                      name="fullname"
                      required
                      @input="resetValidationUsername"
                    />
                    <label for="fullname">
                      Nama Lengkap
                    </label>
                    <small class="text-primary"> {{ errors[0] }} </small>
                    <small
                      v-if="usernameTaken"
                      class="text-primary"
                    >
                      {{ usernameTaken }}
                    </small>
                  </validation-provider>
                </b-col>

                <!-- Nomer -->
                <b-col
                  cols="12"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Nomor Handphone"
                    rules="required"
                  >
                    <b-form-input
                      id="nomorhp"
                      v-model="nomorHandphone"
                      class="bg-light"
                      :state="errors.length > 0 || submitErrors.fullname ? false:null"
                      name="nomorhp"
                      type="number"
                      required
                      @input="validateNoHp"
                    />
                    <label for="fullname">
                      Nomor Handphone
                    </label>
                    <b-row>
                      <b-col>
                        <small class="text-primary"> {{ errors[0] }} </small>
                      </b-col>
                    </b-row>
                    <small class="text-primary"> {{ messageValidateNo !== '' ? messageValidateNo : '' }} </small>
                  </validation-provider>
                </b-col>

                <!-- email -->
                <b-col
                  cols="12"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Email"
                    rules="required|email"
                  >
                    <b-form-input
                      id="emailUser"
                      v-model="userEmail"
                      class="bg-light"
                      :state="errors.length > 0 || submitErrors.email ? false:null"
                      required
                      @input="resetValidationEmail"
                    />
                    <label for="emailUser">
                      Email
                    </label>
                    <small class="text-primary"> {{ errors[0] }} </small>
                    <small
                      v-if="emailTaken"
                      class="text-primary"
                    >
                      {{ emailTaken }}
                    </small>
                  </validation-provider>
                </b-col>

                <!-- password -->
                <b-col
                  cols="12"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{errors}"
                    name="Password"
                    vid="password"
                    rules="required"
                  >
                    <b-form-input
                      id="password"
                      v-model="userPassword"
                      class="bg-light"
                      :type="passwordFieldTypePassword"
                      :state="errors.length > 0 ? false:null"
                      required
                      @input="validPassword"
                    />
                    <label for="password">Password</label>
                    <feather-icon
                      :icon="passwordToggleIconPassword"
                      class="icon-password"
                      @click="togglePasswordVisibilityPassword"
                    />
                    <small
                      class="text-primary"
                    >{{ errors[0] }}
                    </small>
                    <small
                      class="text-primary"
                    >{{ errorCharPassword }}
                    </small>
                  </validation-provider>
                </b-col>
                <b-col
                  cols="12"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{errors}"
                    name="Konfirmasi Password"
                    vid="password"
                    rules="required"
                  >
                    <b-form-input
                      id="confirm-password"
                      v-model="confirmPassword"
                      :class="confirmPassword !== confirmPassword ? 'is-invalid' : 'bg-light'"
                      :type="passwordFieldTypeConfirmPassword"
                      :state="errors.length > 0 || submitErrors.password ? false:null"
                      required
                    />
                    <label for="confirm-password">Confirm Password</label>
                    <feather-icon
                      :icon="passwordToggleIconConfirmPassword"
                      class="icon-password"
                      @click="togglePasswordVisibilityConfirmPassword(togglePasswordVisibility)"
                    />
                    <small class="text-primary">{{ errors[0] }}</small>
                  </validation-provider>

                  <b-form-group v-if="confirmPassword !== userPassword">
                    <small class="text-primary">*Pastikan konfirmasi password sama dengan password sebelumnya</small>
                  </b-form-group>
                </b-col>

                <!-- checkbox -->
                <b-col cols="12">
                  <b-form-group>
                    <validation-provider
                      #default="{errors}"
                      rules="required"
                    >
                      <b-form-checkbox
                        v-model="agree"
                        :state="errors.length > 0 || submitErrors.agree ? false:null"
                        required
                      >
                        Saya setuju dengan syarat dan ketentuan Komship
                      </b-form-checkbox>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <!-- submit -->
                <b-col
                  cols="12"
                  class="px-0"
                >
                  <b-col md="7">
                    <div class="demo-inline-spacing">
                      <b-button
                        type="submit"
                        variant="primary"
                        block
                        :disabled="invalid || agree === false || confirmPassword !== userPassword || userPassword.length < 8 || nomorHandphone.length < 8"
                      >
                        <b-spinner
                          v-if="loading"
                          small
                        />
                        Daftar
                      </b-button>
                    </div>
                  </b-col>
                </b-col>
              </b-row>
            </b-form>
          </validation-observer>
        </b-row>

        <!-- Existing User -->
        <b-row :class="modeExistingUser === true ? '' : 'd-none'">
          <validation-observer
            ref="loginFormExisting"
            #default="{invalid}"
          >
            <b-form
              @submit.prevent="registerExisting"
            >
              <b-row>

                <!-- email -->
                <b-col
                  cols="9"
                  class="mb-1"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Email"
                    rules="required|email"
                  >
                    <b-form-input
                      id="emailUser"
                      v-model="userEmailExisting"
                      class="bg-light"
                      :state="errors.length > 0 || submitErrors.email ? false:null"
                      required
                      @input="resetValidationEmail"
                    />
                    <label for="emailUser">
                      Email
                    </label>
                    <small class="text-primary"> {{ errors[0] }} </small>
                    <b-row class="mt-50">
                      <b-col>
                        <div v-if="serviceIsKomship === false">
                          <small>
                            Akun Kamu telah terdaftar di layanan Komerce <strong>{{ serviceTitle }}</strong>.
                          </small>
                          <br>
                          <small>
                            Cukup gunakan email yang sama dengan layanan yang pernah kamu pakai untuk melanjutkan pendaftaran
                          </small>
                        </div>
                        <div v-else>
                          <small>
                            Akun Kamu telah terdaftar di layanan Komerce Komship.
                            Silahkan "Masuk" untuk melanjutkan.
                          </small>
                        </div>
                      </b-col>
                    </b-row>
                  </validation-provider>
                </b-col>

                <!-- checkbox -->
                <b-col
                  cols="12"
                  :class="serviceIsKomship === true ? 'd-none' : ''"
                >
                  <b-form-group>
                    <validation-provider
                      #default="{errors}"
                      rules="required"
                    >
                      <b-form-checkbox
                        v-model="agree"
                        :state="errors.length > 0 || submitErrors.agree ? false:null"
                        required
                      >
                        <p class="text-black">
                          Saya setuju dengan
                          <a
                            href="https://komship.id/terms"
                            target="_blank"
                            class="text-black underline decoration-1"
                          >
                            syarat dan ketentuan Komship
                          </a>
                        </p>
                      </b-form-checkbox>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <!-- submit -->
                <b-col
                  cols="12"
                  class="px-0"
                >
                  <b-col md="7">
                    <div
                      v-if="serviceIsKomship === false"
                      class="demo-inline-spacing"
                    >
                      <b-button
                        type="submit"
                        variant="primary"
                        block
                        :disabled="invalid || agree === false"
                      >
                        <b-spinner
                          v-if="loading"
                          small
                        />
                        Daftar
                      </b-button>
                    </div>
                    <div v-else>
                      <b-button
                        variant="primary"
                        block
                        tag="router-link"
                        :to="{name:'auth-login'}"
                      >
                        <b-spinner
                          v-if="loading"
                          small
                        />
                        Masuk
                      </b-button>
                    </div>
                  </b-col>
                </b-col>
              </b-row>
            </b-form>
          </validation-observer>
        </b-row>

      </b-col>
    </b-col>
  </b-col>
<noscript>
  <img height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id= 1298728883821301&ev=PageView&noscript=1' />
</noscript>
<link rel="stylesheet" media="all" href="https://aplikasi.kirim.email/assets/css/form-only.css?v=05.03.21" />
<div id="flexbox-style" style="display: none;" class="kirimemail-content kirimemail-form">
  <span id="act_host" class="hidden"></span>
  <div class="kirimemail-form-body">
    <div class="form-content">
      <div class="kirimemail-form-youtube-wrap ">
        <div class="kirimemail-form-youtube"></div>
      </div>
      <h1 class="kirimemail-form-headline"></h1>
      <div class="kirimemail-form-description"></div>
    </div>
  </div>
  <div class="kirimemail-form-field">
    <div class="form-content">
      <form id="keform" class="simple_form new_form_submission" accept-charset="UTF-8" method="POST" action="https://aplikasi.kirim.email/form/form-komship-lrb64No4">
        <div class="kirimemail-custom-field">
          <div class="form full">
            <div>
              <input name="email" ref="inputkirimemail_email" placeholder="Email" type="email" required />
            </div>
          </div>
          <div class="form full">
            <div>
              <input name="full_name" ref="inputkirimemail_full_name" placeholder="Full Name" type="text" />
            </div>
          </div>
          <div class="kirimemail-custom-option"></div>
          <div class="form-controls">
            <button ref="submitformkirimemail" type="submit" class="button slate kirimemail-btn-submit"> Kirim </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</b-row>
  