.wrappercard__formlogin {
	background: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(8px);
	border-radius: 16px;
}
.auth__login {
	max-width: unset;
	width: 500px;
}
.customBodyCard {
	padding: 30px;
}
.btnLoginMasuk {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 600px) {
  .customBodyCard {
    padding: 16px;
  }
}