.container__img {
  margin-top: 1em;
  display: grid;
  justify-content: center;
  grid-row-gap: 1em;
}
.boxFirst {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 450px;
  height: 300px;

  & > img {
    border-radius: 8px;
  }
}
.container__navimg {
  display: flex;
  align-items: center;
  position: relative;
}
/*.boxFirst > img {
  -o-transition: 1s all ease-in-out;
  -ms-transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  -moz-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}*/
.container__childBox {
  display: -webkit-box;
  width: 450px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.childOtherbox {
  margin-right: 10px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 8px;
  width: 100px;
  height: 100px;
}
.childOtherbox > img {
  border-radius: 8px;
}
.borderActive {
  border-width: 3px;
}
.cursorLeftSlide {
  cursor: pointer;
  position: absolute;
  left: -35px;
}
.cursorRightSlide {
  cursor: pointer;
  position: absolute;
  right: -35px;
}
@media only screen and (max-width: 900px) {
  .columnChat {
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 500px) {
  .container__childBox {
    width: 85vw;
  }
  .cursorLeftSlide {
    left: 0px;
  }
  .cursorRightSlide {
    right: 0px;
  }
  .boxFirst {
    width: 100%;
  }
  .containerDetail {
    display: grid !important;
    margin-bottom: 1em;
    width: 135px;
  }
}
