.custom-card-header{
  padding-right: 8px;
}
.btn-custom-topcodnoncod{
  @media only screen and (max-width: 390px) {
    padding: 10px;
  }
}
.custom-selected-filter{
  @media only screen and (min-width: 780px) {
    padding-left: 0px;
  }
}
.dashboard-report-wrapper{
  padding-right: 0px;
}
.button-custom{
  padding: 0;
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border: 1.5px solid #222222;
}
.dashboard-title{
  letter-spacing: 0.5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #222222;
}
.tbl-dashboard-top{
  height: 440px;
  padding-bottom: 16px;
  // overflow-y: scroll;
}
.card-dashboard{
  padding: 16px 0px;
}
.select-form{
  position: relative;
  z-index: 10000;
  @media screen  {
    //
  }
}
.total-top-each-item{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  font-family: Poppins;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #34A770;
  padding-right: 10px;
  text-align: right;
  display: inline-block;
}
.text-top-each-item{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #444444;
}
.wrapper-warning-pemintaan-saldo{
  background: #FBA63C !important;
  border-radius: 16px;
  height: 62px;
}
.text-warning-pemintaan-saldo{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.btn-warning-pemintaan-saldo{
  width: 46px;
  height: 46px;
  padding: 0px;
  // background: #FFFFFF;
  // opacity: 0.4;
  border-radius: 12px;
  & span{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    letter-spacing: 0.5px;
  }
}
