<b-card>
  <div id="addOrderDetailsMainWrapper" class="add-order-main-wrapper">
    <b-button
    class="next-button no-mg"
    @click="onUpdateScreenViewParent"
  >
    <b-icon-chevron-left
      aria-hidden="true"
    />
  </b-button>
    <b-card-title class="mt-4 mb-4">
      Tambah Order
    </b-card-title>
    <div class="add-order-dsc-title top-right">
      {{ profile && profile.is_komship === 1 ? 'Pengiriman Kompship' :
      'Pengiriman Non Kompship' }}
    </div>
    <section class="add-order-form mb-4">
      <b-form-group
        class="add-order-label mb-2"
        label="Tanggal"
        label-cols-md="3"
        label-for="input-date2"
      >
        <div class="add-order-date-label">
          {{ dateLabel }}
        </div>
      </b-form-group>
      <b-form-group
        class="add-order-label mb-2 add-order-label-payment"
        label="Nama Pelanggan"
        label-cols-md="3"
      >
        <b-form-input
          ref="addCustomerName"
          v-model="customerName"
          class="add-order-product-input-v-select"
          placeholder="Masukkan Nama"
          list="customer-list-id"
          @input="handleSearchCustomer"
          @change="handleChangeCustomer"
        />
        <datalist id="customer-list-id">
          <option
            v-for="(customerItem, customerItemIndex) in detailCustomerList"
            :key="'optionCustomer'+customerItemIndex"
          >
            {{ customerItem.name }}, {{ customerItem.phone }}, {{
            customerItem.address }}
          </option>
        </datalist>
      </b-form-group>
      <b-form-group
        class="add-order-label mb-2"
        label="No Telepon"
        label-cols-md="3"
      >
        <b-input-group class="input-phone-add-order-details-wrapper">
          <b-input-group-prepend>
            <v-select
              v-model="customerPhoneCode"
              :clearable="false"
              class="input-phone-code-add-order-details"
              label=""
              label-cols-md="2"
              :options="customerPhoneCodeList"
              @input="onChangePhoneCode"
            />
            <span class="straight-line" />
          </b-input-group-prepend>

          <b-form-input
            ref="addCustomerPhone"
            v-model.number="customerPhone"
            type="number"
            class="add-order-product-input-v-select input-phone-add-order-details"
            @input="onChangePhoneNumber"
          />
        </b-input-group>
      </b-form-group>
      <b-form-group
        class="add-order-label mb-2"
        label="Masukan Kota/ Kabupaten"
        label-cols-md="3"
      >
        <b-form-input
          ref="addCustomerCity"
          v-model="customerCity"
          class="add-order-product-input-v-select max-wd-411"
          placeholder="Masukan Kota/Kabupaten"
          list="city-list-id"
          @input="handleSearchCity"
        />
        <datalist id="city-list-id">
          <option
            v-for="(destination, destinationIndex) in destinationCity"
            :key="'optionCity'+destinationIndex"
          >
            {{ destination.label }}
          </option>
        </datalist>
      </b-form-group>
      <b-form-group
        class="add-order-label mb-2"
        label="Alamat Detail"
        label-cols-md="3"
      >
        <b-form-textarea
          ref="addCustomerAddress"
          v-model="customerAddress"
          class="add-order-product-input-v-select"
          placeholder="Masukan alamat lengkap"
          rows="4"
        />
      </b-form-group>
      <b-form-group
        class="add-order-label mb-2"
        label="Ekspedisi"
        label-cols-md="3"
      >
        <v-select
          ref="addShippingRef"
          class="add-order-product-input-v-select v-select-expedition-order-detail mr-1"
          label=""
          label-cols-md="2"
          :options="profile.shipping"
          @input="onAddShipping"
        >
          <span slot="no-options" style="fontSize:14px;">
            {{ !profile.shipping ? 'Anda belum memilih ekspedisi' :
            (profile.shipping === null ? 'Sedang Memuat ...' : 'Belum ada
            Ekspedisi, tambahkan dahulu.') }}
          </span>
        </v-select>

        <v-select
          ref="expOptionRef"
          class="add-order-product-input-v-select v-select-expedition-order-detail"
          label=""
          label-cols-md="2"
          placeholder="Opsi Pengiriman"
          :options="expeditionOption"
          @input="onAddExpeditionOption"
        />
      </b-form-group>
      <b-form-group
        class="add-order-label mb-2 add-order-label-payment"
        label="Metode Pembayaran"
        label-cols-md="3"
      >
        <v-select
          ref="paymentMethodRef"
          class="add-order-product-input-v-select add-order-product-input-v-select-payment"
          label=""
          label-cols-md="2"
          :options="profile.payment_method"
          @input="onAddPaymentMethod"
        />
        <div class="anchor-exp-select-wrapper">
          <b-form-input ref="selectExpRef" class="anchor-exp-select" />
        </div>
      </b-form-group>
      <b-form-group
        class="add-order-label mb-2"
        label="Gunakan Potongan Harga"
        label-cols-md="3"
      >
        <div class="discount-button-wrapper">
          <b-icon-check-circle-fill
            v-if="isUseDiscount"
            aria-hidden="true"
            class="discount-checked-button"
            @click="useDiscount(isUseDiscount)"
          />
          <b-icon-circle
            v-else
            aria-hidden="true"
            class="discount-unchecked-button"
            @click="useDiscount(isUseDiscount)"
          />
        </div>
      </b-form-group>
      <b-form-group
        v-if="isUseDiscount"
        class="add-order-label"
        label="Nominal Potongan Harga"
        label-cols-md="3"
      >
        <b-form-input
          v-model.number="customerDiscountNumber"
          type="number"
          class="add-order-product-input-v-select"
          placeholder="0"
          @input="onCountButtonClicked"
        />
      </b-form-group>
    </section>

    <b-table
      striped
      hover
      responsive
      class="position-relative"
      :items="itemsCheckoutOrder"
      :fields="fieldsOrder"
    >
      <template #cell(no)="data">
        {{ data.index+1 }}
      </template>

      <template #cell(product_name)="data">
        <b-row class="align-items-center">
          <b-col cols="auto" class="pr-0">
            <b-avatar
              variant="light-primary"
              size="50px"
              square
              :src="data.item.product_image"
            />
          </b-col>
          <b-col cols="auto">
            <h4>
              <strong>
                {{ data.value }}
              </strong>
            </h4>
            <div v-if="data.item.variant[0] === undefined">
              <h5>
                <strong>
                  Tidak ada variasi
                </strong>
              </h5>
            </div>
            <div v-if="data.item.itemSelected !== undefined">
              <h4 class="text-primary">
                <strong>
                  {{ data.item.itemSelected.variation }}
                </strong>
              </h4>
            </div>
          </b-col>
        </b-row>
      </template>

      <template #cell(price)="data">
        <div v-if="data.item.variant[0] === undefined">
          Rp. {{ formatPrice(data.item.price) }}
        </div>
        <div v-else>
          Rp. {{ formatPrice(data.item.itemSelected.price) }}
        </div>
      </template>

      <template #cell(jumlah)="data">
        {{ data.item.stockToDisplay }}
      </template>

      <template #cell(subtotal)="data">
        <div v-if="data.item.variant[0] === undefined">
          <h4>
            <strong>
              Rp. {{ formatPrice(data.item.price * data.item.stockToDisplay) }}
            </strong>
          </h4>
        </div>
        <div v-else>
          <h4>
            <strong>
              Rp. {{ formatPrice(data.item.itemSelected.price *
              data.item.stockToDisplay) }}
            </strong>
          </h4>
        </div>
      </template>
    </b-table>

    <section class="view-order-price">
      <b-form-group class="mb-2" label="Total Harga Produk" label-cols-md="5">
        <div v-if="isCalculating">
          <b-spinner variant="primary" label="Spinning" />
        </div>

        <div v-else>
          {{ `Rp ${onNumberWithCommas(sumAllProduct)}` }}
        </div>
      </b-form-group>
      <b-form-group class="mb-2" label="Ongkos Kirim" label-cols-md="5">
        <div v-if="isCalculating">
          <b-spinner variant="primary" label="Spinning" />
        </div>
        <div v-else>{{ `Rp ${onNumberWithCommas(sendCostNumber)}` }}</div>
      </b-form-group>
      <b-form-group
        v-if="isUseDiscount"
        class="mb-2"
        label="Potongan Harga"
        label-cols-md="5"
      >
        <div v-if="isCalculating">
          <b-spinner variant="primary" label="Spinning" />
        </div>
        <div v-else>
          {{ `- Rp ${onNumberWithCommas(customerDiscountNumber)}` }}
        </div>
      </b-form-group>
      <b-form-group
        v-else
        class="mb-2 hide"
        label="Potongan Harga"
        label-cols-md="5"
      >
        <div>{{ `- Rp ${onNumberWithCommas(customerDiscountNumber)}` }}</div>
      </b-form-group>
      <b-form-group
        class="summary-little-container mb-2"
        :label="`Total Pembayaran${customerPaymentMethod !== '' ? ` (${customerPaymentMethod})` : ''}`"
        label-cols-md="6"
      >
        <div class="orange-bold">
          {{ `Rp ${onNumberWithCommas(sumAllProductWithShipPrice)}` }}
        </div>
      </b-form-group>
      <div
        v-if="visibleCollapse"
        class="collapse-trigger-button"
        @click="showDetailPriceNetto"
      >
        Tutup
        <b-icon-chevron-up aria-hidden="true" />
      </div>
      <div v-else class="collapse-trigger-button" @click="showDetailPriceNetto">
        Buka
        <b-icon-chevron-down aria-hidden="true" />
      </div>
      <b-collapse id="collapse-1" v-model="visibleCollapse" class="mt-2">
        <b-form-group
          class="mb-2"
          :label="`Biaya ${customerPaymentMethod !== '' ? `${customerPaymentMethod}` : ''} (${serviceFeeLabel}% sudah termasuk PPN)`"
          label-cols-md="6"
        >
          <div v-if="isCalculating">
            <b-spinner variant="primary" label="Spinning" />
          </div>
          <div v-else>
            {{ `- Rp ${onNumberWithCommas(serviceFeeCutCost)}` }}
          </div>
        </b-form-group>
        <b-form-group
          class="mb-2"
          :label="`Ongkos Kirim (dipotong cashback ${cashbackLabel}%)`"
          label-cols-md="5"
        >
          <div v-if="isCalculating">
            <b-spinner variant="primary" label="Spinning" />
          </div>
          <div v-else>
            {{ `- Rp ${onNumberWithCommas(sendCostNumberCut)}` }}
          </div>
        </b-form-group>
        <b-form-group
          class="orange-bold mb-2"
          label="Penghasilan bersih yang kamu dapatkan"
          label-cols-md="5"
        >
          <div v-if="isCalculating">
            <b-spinner variant="primary" label="Spinning" />
          </div>
          <div v-else>
            {{ `Rp ${onNumberWithCommas(totalCostNumberNetto)}` }}
          </div>
        </b-form-group>
      </b-collapse>
    </section>

    <section class="view-order-summary view-order-summary-details-mobile">
      <div class="add-order-summary-text detail-add-order-summary-text">
        <span
          >Total Pembayaran :
          <div v-if="isCalculating">
            <b-spinner variant="primary" label="Spinning" />
          </div>
          <span v-else class="orange-bold"
            >{{ `Rp ${onNumberWithCommas(sumAllProductWithShipPrice)}` }}</span
          >
        </span>
      </div>
      <div class="add-order-summary-button-wrapper">
        <!-- <b-button
            v-if="!isCalculating"
            class="next-button no-mg-mobile"
            @click="onCountButtonClicked"
          >
            Hitung
          </b-button> -->
        <!-- <b-button
            v-if="isCalculating"
            class="next-button no-mg-mobile"
            disabled
            @click="onCountButtonClicked"
          >
            Please wait...
          </b-button> -->
        <b-button
          v-if="isValidOrder && !isSubmitting"
          class="next-button"
          @click="handleSaveOrder"
        >
          Submit
        </b-button>
        <b-button
          v-else-if="!isValidOrder && !isSubmitting"
          class="next-button"
          disabled
        >
          Submit
        </b-button>
        <b-button v-else-if="isSubmitting" class="next-button" disabled>
          Please wait...
        </b-button>
      </div>
    </section>
    <b-modal
      id="modal-2"
      ref="modalAddOrderPopUp"
      hide-footer
      hide-header
      centered
      @hide="handleRedirectToDataOrder"
    >
      <div class="modal-add-order-popup-success">
        <div class="image-wrapper">
          <img src="@/assets/images/icons/success.svg" />
        </div>
        <div class="text-wrapper">
          Berhasil Tambah Order
        </div>
        <b-button
          class="next-button no-mg"
          tag="router-link"
          :to="{ name: $route.meta.routeDataOrder }"
        >
          Oke
        </b-button>
      </div>
    </b-modal>
  </div>
</b-card>
