@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap';
.bg-orange {
  background-color: #ff6a3a !important;
}
.bg-orange2 {
  background-color: #f95031 !important;
}
.bg-green {
  background-color: #0faa60 !important;
}
.card,
.rounded-16 {
  border-radius: 16px !important;
}
.first-card-header-text {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: left;
}
.saldo-texts {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: left;
}
.h-text-xl {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #222222;
}
.order-head-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.order-body-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #222222;
}
.container {
  font-family: 'Poppins', sans-serif;
}
.bg-orange {
  background-color: #ff6a3a !important;
}
.bg-orange2 {
  background-color: #f95031 !important;
}
.card,
.rounded-16 {
  border-radius: 16px !important;
}
.first-card-header-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: left;
}
.h-text-xl {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #222222;
}
.h-text-lg {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #222222;
}
.h-text-md {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #222222;
}
.h-text-sm {
  font-size: 16px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.h-text-xs {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: left;
}
.py-9 {
  padding-top: 9px;
  padding-bottom: 9px;
}
.me-8 {
  margin-right: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.h-text-dark {
  color: #222222 !important;
}
.transform-none {
  text-transform: none !important;
}
.h-border-bottom {
  border-bottom: 2px solid #c2c2c2 !important;
}
.w-20e {
  width: 20em;
}
#input2 {
  padding-left: 15px;
  letter-spacing: 42px;
  border: none !important;
  outline: none !important;
  background-image: linear-gradient(
    to left,
    black 70%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 50px 2px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 300px;
  min-width: 300px;
}
#divInner {
  left: 0;
  position: sticky;
}
#divOuter {
  width: 288px;
  overflow: hidden;
}
.btn-primary {
  background-color: #f95031 !important;
}
.btn-outline-primary {
  border-color: #f95031 !important;
}
.ms-8 {
  margin-left: 8px;
}
.me-8 {
  margin-right: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.py-9 {
  padding-top: 9px;
  padding-bottom: 9px;
}
.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}
.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.p-12 {
  padding: 12px;
}
.h-text-dark {
  color: #222222;
}
.border-gray {
  border: 1px solid #e2e2e2;
}
.list-text-1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-align: left;
}
.list-text-2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-align: right;
}
.list-text-3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: right;
}
.text-green {
  color: #34a770;
}
.h-badge-success {
  background-color: #dcf3eb;
  color: #34a770;
}
.h-badge-danger {
  background-color: #ffeded;
  color: #e31a1a;
}
#select_produk_terlaris > div {
  border: none;
  padding-left: 0px;
}
#select_produk_terlaris > div > .vs__selected-options,
#select_produk_terlaris > div > .vs__selected-options > .vs__selected {
  padding-left: 0px;
  margin-left: 0;
}
.select-chart {
  right: 42px;
  width: 38%;
}
.h-70 {
  height: 70%;
}
.w-30 {
  width: 30%;
}
.blurry {
  filter: blur(7px);
  pointer-events: none;
  user-select: none;
}
.pos-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dropdown-item {
  width: 100% !important;
}
.vue-pincode-input-wrapper {
  width: 100%;
  justify-content: center;
}
input.vue-pincode-input {
  border-radius: 0;
  box-shadow: none !important;
  border-bottom: 3px solid #222222;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 67px;
}
.bodyModalOnboarding {
  min-width: 850px;
}
.modalOnboarding {
  padding: 40px;
  text-align: center;

  &__step1{

    &--greeting {
      display: grid;
      justify-content: center;
    }
    &--title {
      font-weight: 500 !important;
      font-size: 24px !important;
      line-height: 150% !important;
      letter-spacing: 0.5px !important;
    }
    &--subtitle {
      font-weight: normal;
      font-size: 16px !important;
      line-height: 150% !important;
      text-align: center;
      letter-spacing: 0.5px !important;
      color: #828282 !important;
    }

    &--wrapLangkah{
      display: flex;
      margin: 65px 0px 95px;
      justify-content: space-evenly;
      align-items: center;
    }
    &--wrapperbox{
      display: grid;
      justify-content: center;
      text-align: center;
    }
    &--box {
      width: 100px;
      height: 100px;
      margin: 0px auto;
      background: #C4C4C4;
      border-radius: 8px;
    }
    &--boxdesc {
      margin: 12px 0px 0px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #222222;
    }
    &--icon {
      transform: translateY(-16px);      
    }
    &--wrapperNavStep {
      display: flex;
      justify-content: space-between;
    }
    &--navtext {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #828282;
    }
    &--navBtn {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 8px 16px 24px;
      width: 120px;
      height: 56px;
      background: #F95031;
      border-radius: 12px;
    }
    &--navBtnText {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #FFFFFF;
    }
    &--navBtnIcon {
      color: #FFFFFF;
    }
  }

  &__step2 {
    &--header {
      display: grid;
    }
    &--title {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.5px;
      color: #222222;
    }
    &--box {
      width: 200px;
      height: 200px;
      background: #C4C4C4;
      border-radius: 8px;
      margin: 0px auto;
    }
    &--body {
      display: grid;
      margin: 59px 0px 92px;
      text-align: left;
    }
    &--bodyText1 {
      margin: 0px 0px 16px !important;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #626262;
    }
    &--bodyText2 {
      margin: 0px 0px 8px !important;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #222222;
    }
    &--bodyText3 {
      margin: 16px 0px 0px !important;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #626262;
    }
  }

  &__step5 {
    &--body {
      margin:0px 0px 51px;
    }

    &--title {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #222222;
    }
    &--box {
      width: 200px;
      height: 200px;
      background: #C4C4C4;
      border-radius: 8px;
      margin: 24px auto 16px;
    }
    &--bodyText2 {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #222222;
    }
    &--wrapperNavStep {
      display: flex;
      justify-content: space-between;
    }
    &--navtext {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #828282;
    }
    &--navBtn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 56px;
      background: #F95031;
      border-radius: 12px;
    }
    &--navBtnText {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #FFFFFF;
    }
  }
}
.dashboardpartner__popoverinfo {
  padding: 0px;
  margin: 0px !important;
}
.topAdminOrder {
  height: 66%;
}

.image-product {
  object-fit: cover;
  object-position: center center;
  width: 50px!important;
  height: 50px!important;
}
.alert-info {
  background-color: #BEE6FC !important;
}
.alert-warning {
  background-color: #FCEBBE !important;
}
.alert-danger {
  background-color: #FCBEBE !important;
}
.alert-success {
  background-color: #BEFCDE !important;
}
.collapsed .when-open,
.not-collapsed .when-closed {
  display: none;
}
.collapsed {
  background-color: #f6f6f6;
  color: #6e6b7b;
}
.not-collapsed {
  background-color: #F95031;
  color: #FFFFFF;
}