.wrapperContainer {
  display: grid;
}
.brandLogo {
  width: 216px;
  height: 72px;
}
.wrapperCard {
  width: 580px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  border-radius: 16px;
}
.cardtext__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #222222;
}
.cardtext__subtitle {
  margin-top: 8px !important;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #222222;
}
.labelTextClass {
  font-weight: 600;
  font-size: 14px !important;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #626262 !important;
}

.btnSubmit {
  margin-top: 24px;
  height: 56px;
  background: #F95031;
  border-radius: 12px;
  text-transform: capitalize;
  
  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
}
.wrappersuccessChangedPassword {
  display: grid;
  text-align: center;
}
.successChangedPassword__img {
  width: 112px;
  height: 112px;
  margin: 0 auto !important;
}
.successChangedPassword__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #222222;
}

@media only screen and (max-width: 600px) {
  .wrapperCard {
    padding: 16px;
    width: 90vw;
  }
  .brandLogo {
    width: 180px;
    height: 60px;
  }
  .successChangedPassword__img {
    width: 100px;
    height: 100px;
  }
}
