<section id="cod-rincian-penarikan-saldo">
  <div v-if="!loadDataAwal">
    <b-card no-body>
      <b-card-header class="custom-card-header">
        <b-row style="width: 100%;">
          <b-col
            md="12"
            class="d-flex justify-content-between"
          >
            <div class="d-flex align-items-center">
              <b-button
                variant="primary"
                size="sm"
                class="mr-50 btn-custom"
                @click="$router.go(-1)"
              >
                <feather-icon
                  size="2x"
                  icon="ChevronLeftIcon"
                />
              </b-button>
              <h4
                class="card-title text-24-bold"
              >
                Rincian Penarikan Saldo
              </h4>
            </div>
            <div
              class="statusWrapper d-flex align-items-center justify-content-center"
              :class="detailData.status.toLowerCase() | changeStatus"
            >
              {{ 
                detailData.status ==='canceled' ? 'Dibatalkan' :(
                  detailData.status ==='on_review' ? 'Sedang Direview' :(
                    detailData.status ==='completed' ? 'Disetujui' :(
                      detailData.status ==='rejected' ? 'Ditolak' :(
                        detailData.status ==='requested' ? 'Perlu Disetujui' : '-'
                        ) 
                   ) 
                  ) 
                ) 
               }}
            </div>
          </b-col>
        </b-row>
      </b-card-header>
      <b-card-body>
        <div class="mb-2 d-flex justify-content-between">
          <table
            class="table-custom"
          >
            <tr>
              <td class="td-custom text-18-normal">
                Tanggal Penarikan
              </td>
              <td class="text-18-bold">
                {{ detailData.withdrawal_date }}
              </td>
            </tr>
            <tr>
              <td class="td-custom text-18-normal">
                Nama
              </td>
              <td class="text-18-bold">
                {{ detailData.partner_name }}
              </td>
            </tr>
            <tr>
              <td class="td-custom text-18-normal">
                Nama Bank
              </td>
              <td class="text-18-bold">
                {{ detailData.bank_name }}
              </td>
            </tr>
            <tr>
              <td class="td-custom text-18-normal">
                No Rekening
              </td>
              <td class="text-18-bold">
                {{ detailData.bank_account_no }}
              </td>
            </tr>
          </table>
          <b-card
            v-if="detailData.transfer_proof"
            no-body
          >
            <b-card-body>
              <div style="display: grid;">
                <span class="text-bukti-transfer">
                  Bukti Transfer
                </span>
                <div class="wrapper-uploaded d-flex">
                  <div class="icon-uploaded d-flex justify-content-center align-items-center">
                    <feather-icon
                      icon="FileIcon"
                      size="2x"
                    />
                  </div>
                  <div style="display: grid;">
                    <span class="text-bukti-transfer">
                      Bukti-Transfer.png
                    </span>
                    <span class="text-filesize-bukti-transfer">
                      159 Kb
                    </span>
                  </div>
                </div>
              </div>
            </b-card-body>
          </b-card>
        </div>
        <div class="d-flex mb-2">
          <div class="details-total mr-2">
            <div class="d-flex align-items-center">
              <span class="text-16-normal">
                Total Saldo:
                <span class="text-16-normal font-weight-bolder text-danger">
                  Rp{{ detailData.total_balance | formatRupiah }}
                </span>
              </span>
              <b-button
                variant="outline-primary"
                size="sm"
                class="btn-icon btn-custom-details"
              >
                <feather-icon icon="AlertCircleIcon" />
              </b-button>
            </div>
            <div class="d-flex align-items-center">
              <span class="text-16-normal">
                Saldo Awal:
                <span class="text-16-normal font-weight-bolder">
                  Rp{{ detailData.beginning_balance | formatRupiah }}
                </span>
              </span>
              <b-button
                variant="outline-info"
                size="sm"
                class="btn-icon btn-custom-details"
              >
                <feather-icon icon="AlertCircleIcon" />
              </b-button>
            </div>
          </div>

          <div class="details-total">
            <div class="d-flex align-items-center">
              <span class="text-16-normal">
                Nominal Penarikan Saldo:
                <span
                  ref="nominalPenarikanSaldo"
                  class="text-16-normal font-weight-bolder text-success"
                >Rp{{ detailData.withdrawal_nominal | formatRupiah }}</span>
              </span>
              <b-button
                variant="outline-success"
                size="sm"
                class="btn-icon btn-custom-details"
                @click="handleCopyNominalPenarikanSaldo()"
              >
                <feather-icon icon="CopyIcon" />
              </b-button>
            </div>
            <span class="text-16-normal">
              Sisa Saldo:
              <span class="text-16-normal font-weight-bolder">
                Rp{{ detailData.current_balance | formatRupiah }}
              </span>
            </span>
          </div>
        </div>
        <b-row>
          <b-col
            lg="12"
          >
            <b-table
              striped
              hover
              responsive
              :per-page="perPage"
              :current-page="currentPage"
              :items="items"
              :busy="isLoadTable"
              :fields="fields"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              :filter="filter"
              :filter-included-fields="filterOn"
              @filtered="onFiltered"
            >
             
              <!-- A virtual composite column -->
              <template #cell(order_date)="data">
                <b>
                  {{ data.item.order_date }} 
                </b>
              </template>
              <template #cell(order_grandtotal)="data">
                <b>
                  Rp. {{ formatNumber(data.item.order_grandtotal) }}
                </b>
              </template>
              <template #cell(shipping_cost)="data">
                <b>
                  Rp. {{ formatNumber(data.item.shipping_cost) }}
                </b>
              </template>
              <template #cell(service_fee)="data">
                <b>
                  Rp. {{ formatNumber(data.item.service_fee) }}
                </b>
              </template>
              <template #cell(net_profit)="data">
                <b>
                  Rp. {{ formatNumber(data.item.net_profit) }}
                </b>
              </template>
              <template #table-busy>
                <div class="text-center text-danger my-2">
                  <b-spinner
                    class="align-middle"
                  />
                  <strong>Loading...</strong>
                </div>
              </template>
            </b-table>
          </b-col>
          <b-col
            cols="12"
          >
            <div class="d-flex justify-content-between">
              <b-form-group
                class="mb-0"
              >
                <label class="d-inline-block text-sm-left mr-0">Per page</label>
                <b-form-select
                  id="perPageSelect"
                  v-model="perPage"
                  size="sm"
                  :options="pageOptions"
                  class="w-50"
                />
              </b-form-group>
              <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="center"
                size="sm"
                class="my-0"
              />
            </div>
          </b-col>
          <b-col
            v-if="detailData.notes !== ''"
            lg="12"
          >
            <div class="catatan-review p-1 mt-1">
              <h4
                class="mb-2"
              >
                Catatan :
              </h4>
              <p>
                {{ detailData.notes }}
              </p>
            </div>
          </b-col>
        </b-row>

        <div class="d-flex justify-content-end mt-2">
          <div>
            <b-button
            v-if="detailData.notes==null ||detailData.notes=='' || detailData.notes=='-' && detailData.status != 'completed'"
            v-b-modal.modal-review
            variant="outline-primary"
            class="mr-1 btn-custom-bottom"
            
          >
            Review
          </b-button>
          <b-button
            v-else
            v-b-modal.modal-review
            variant="outline-secondary"
            class="mr-1 btn-custom-bottom"
            disabled
          >
            Review
          </b-button>
          </div>
          <div>
            <b-button
            v-if="detailData.transfer_proof==null ||detailData.transfer_proof=='' && detailData.status != 'completed'"
            :to="{ name: 'cod-penarikan-upload-bukti-transfer', params: { slug: $route.params.slug } }"
            variant="outline-primary"
            class="mr-1 btn-custom-bottom"
            >
              Transfer Manual
            </b-button>
           
          <b-button
            v-else
            :to="{ name: 'cod-penarikan-upload-bukti-transfer', params: { slug: $route.params.slug } }"
            variant="outline-secondary"
            class="mr-1 btn-custom-bottom"
            disabled
          >
            Transfer Manual
          </b-button>
          </div>
          <div>
            <b-button
            v-if="detailData.status=='completed'"
            v-b-modal.modal-transfer-sekarang
            variant="secondary"
            class="btn-custom-bottom"
            disabled
          >
            Transfer Sekarang
          </b-button>
          <b-button
            v-else
            v-b-modal.modal-transfer-sekarang
            variant="primary"
            class="btn-custom-bottom"
          >
            Transfer Sekarang
          </b-button>
          </div>
        </div>
      </b-card-body>
    </b-card>
    <b-modal
      id="modal-review"
      ref="modal-review"
      ok-title="Selesai"
      cancel-title="Batal"
      centered
      hide-header-close
      size="lg"
      title="Buat Catatan Penarikan"
      @show="resetModalReview"
    >
      <div>
        <form
          ref="form-review"
          @submit.stop.prevent="handleSubmitReview"
        >
          <b-form-group
            label=""
            label-for="catatan-penarikan-textarea"
            invalid-feedback="Silahkan isi catatan"
            :state="catatanReviewState"
          >
            <b-form-textarea
              id="catatan-penarikan-textarea"
              v-model="catatanReview"
              debounce="300"
              placeholder="Berikan catatan kamu untuk partner dalam penarikan"
              rows="8"
              :state="catatanReviewState"
              required
            />
          </b-form-group>
        </form>
      </div>
      <template #modal-footer>
        <div class="w-100 d-flex justify-content-end">
          <b-button
            variant="outline-primary"
            class="mr-1 btn-custom-footer-modal text-center"
            @click="resetModalReview"
          >
            Batal
          </b-button>
          <b-button
            variant="primary"
            class="btn-custom-footer-modal text-center"
            @click="handleOkReview"
          >
            Selesai
          </b-button>
        </div>
      </template>
    </b-modal>

    <b-modal
      id="modal-transfer-sekarang"
      ref="modal-transfer-sekarang"
      centered
      hide-header-close
      hide-footer
      size="md"
      no-stacking
    >
      <div class="text-center">
        <div class="pt-3 transfersekarang-wrapper">
          <span
            class="text-24-bold"
            style="color: #222222;"
          >
            Apakah kamu yakin ingin mentransfer nominal penarikan saldo?
          </span>
          <span
            class="text-16-normal"
            style="color: #222222;"
          >
            Pilih jawaban anda sekarang!
          </span>
          <b-button
            variant="primary"
            class="btn-custom-footer-transfer-skrng text-center"
            @click="handleOkTransNow"
          >
            Yakin
          </b-button>
          <b-button
            variant="outline-primary"
            class="btn-custom-footer-transfer-skrng text-center"
            style="border-color: unset;"
            @click="resetModalTransNow"
          >
            Tidak
          </b-button>
        </div>
      </div>
    </b-modal>

    <b-modal
      id="modal-transfer-berhasil"
      ref="modal-transfer-berhasil"
      centered
      hide-header-close
      hide-footer
      size="md"
    >
      <div class="text-center">
        <div class="pt-3 transfersekarang-wrapper">
          <b-img
            :src="require('@/assets/images/elements/transfer-success.png')"
            height="142"
            width="150"
            alt="Transfer-saldo-berhasil"
          />
          <span
            class="text-24-bold"
            style="font-seze: 20px;color: #222222;"
          >
            Transfer Saldo Berhasil!
          </span>
          <b-button
            variant="primary"
            class="btn-custom-footer-transfer-berhasil text-center"
            @click="handleOkTransBerhasil"
          >
            Oke
          </b-button>
        </div>
      </div>
    </b-modal>
    <b-modal
      id="modal-transfer-gagal"
      ref="modal-transfer-gagal"
      centered
      hide-header-close
      hide-footer
      size="md"
    >
      <div class="text-center">
        <div class="pt-3 transfersekarang-wrapper">
          <b-img
            :src="require('@/assets/images/elements/transfer-fail.png')"
            height="142"
            width="150"
            alt="Transfer-saldo-berhasil"
          />
          <span
            class="text-24-bold"
            style="font-seze: 20px;color: #222222;"
          >
            Transfer Saldo Gagal!
          </span>
          <b-button
            variant="primary"
            class="btn-custom-footer-transfer-berhasil text-center"
            @click="handleOkTransGagal"
          >
            Oke
          </b-button>
        </div>
      </div>
    </b-modal>
  </div>

  <div
    v-else
    class="text-center"
  >
    <b-spinner
      variant="primary"
      label="Text Centered"
    />
  </div>
</section>
