.method-order .card {
    border:1px solid #E2E2E2;
    border-radius:20px;
}
.method-order .card .card-text {
    min-height: 42px;
    display: flex;
    justify-content: center;
}
.method-order .card .card-text span {
    margin: auto;
    text-align: center;
}