[dir] .sortir-talent-mobile {
   display: none;
}
.nav-item.has-sub .nav-item.has-sub li svg {
   display: inline-block;
}

[dir] .radial-class-responsive {
   display: none;
}

[dir] .item-student-responsive {
   display: none;
}