.card__wrapper {
  border-radius: 16px;
  height: 550px;

  &--toplist {
    height: 420px;
    overflow: hidden;

    &:hover {
      overflow-y: scroll;
    }
  }
}
.button-custom {
  padding: 0;
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border: 1.5px solid #222222;
}

.cards {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  p {
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2em;
    grid-template-areas: '. . . . .';
    &-data {
      border: 1px solid #e2e2e2;
      border-radius: 16px;
      padding: 2rem;
      &-top {
        display: flex;
        align-items: center;
        letter-spacing: 0.5px;
        p {
          margin: 0;
        }
        img {
          margin-left: 1em;
        }
        &-number {
          font-size: 32px;
          font-weight: 500;
          color: #000;
          margin-top: 10px;
        }
      }
    }
  }
}
@media screen and(min-width: 320px) and (max-width: 1024px) {
  .cards {
    padding: 1em;
    &-top {
      display: contents;
      p {
        margin-bottom: 1em;
      }
    }
    &-content {
      display: block;
      margin-top: 1em;
      &-data {
        margin-bottom: 1em;
      }
    }
  }
}
