[dir] .wrapper__chat__user {
    background: #FF6A3A;
    border-radius: 8px 0px 8px 8px;
    max-width: 900px;
}

[dir] .wrapper__chat__isnotuser {
    background: #FCD4BE;
    border-radius: 8px 0px 8px 8px;
    max-width: 900px;
}