[dir] .wrapper__chat__user {
    background: #FF6A3A;
    border-radius: 8px 0px 8px 8px;
    max-width: 900px;
}

[dir] .wrapper__chat__isnotuser {
    background: #FCD4BE;
    border-radius: 8px 0px 8px 8px;
    max-width: 900px;
}

[dir] .class__file__chat {
    width: 132px;
    height: 62.12px;
    border-radius: 11.9457px;
}

.icon-awb {
    position: relative;
    width: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;
    background-color: #fff;
    z-index: 2;
}
.icon-awb:first-child {
    margin-top: 0;
}
.icon-awb:before {
    position: absolute;
    border: 1px dashed #FBA63C;
    width: 0;
    height: 50px;
    display: block;
    content: '';
    left: 47%;
    z-index: 1;
    top: -54px;
    margin-left: -1px;
}
.icon-awb:first-child:before {
    display: none;
}